{
  "openapi": "3.0.0",
  "info": {
    "title": "Adobe API",
    "description": "API for interacting with various Adobe services and products",
    "version": "1.0.0",
    "contact": {
      "name": "Adobe API Support",
      "url": "https://www.adobe.com/api-support",
      "email": "api-support@adobe.com"
    }
  },
  "servers": [
    {
      "url": "https://api.adobe.com/v1"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "summary": "Get access token",
        "description": "Obtain an access token for API authentication",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/creative-cloud/assets": {
      "get": {
        "summary": "List Creative Cloud assets",
        "description": "Retrieve a list of assets from Creative Cloud",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Upload Creative Cloud asset",
        "description": "Upload a new asset to Creative Cloud",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/creative-cloud/assets/{asset_id}": {
      "get": {
        "summary": "Get Creative Cloud asset",
        "description": "Retrieve details of a specific Creative Cloud asset",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modified_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Creative Cloud asset",
        "description": "Delete a specific Creative Cloud asset",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Asset deleted successfully"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/photoshop/edit": {
      "post": {
        "summary": "Edit image with Photoshop",
        "description": "Apply Photoshop edits to an image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "edits": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "crop",
                            "resize",
                            "filter",
                            "adjust"
                          ]
                        },
                        "params": {
                          "type": "object"
                        }
                      },
                      "required": [
                        "type",
                        "params"
                      ]
                    }
                  }
                },
                "required": [
                  "image_url",
                  "edits"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "edited_image_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/illustrator/create": {
      "post": {
        "summary": "Create vector graphic",
        "description": "Create a vector graphic using Illustrator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "elements": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "shape",
                            "path",
                            "text"
                          ]
                        },
                        "properties": {
                          "type": "object"
                        }
                      },
                      "required": [
                        "type",
                        "properties"
                      ]
                    }
                  }
                },
                "required": [
                  "elements"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created vector graphic",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "graphic_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/acrobat/pdf": {
      "post": {
        "summary": "Create PDF",
        "description": "Create a PDF from various file formats",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "output_type": {
                    "type": "string",
                    "enum": [
                      "pdf"
                    ]
                  }
                },
                "required": [
                  "file",
                  "output_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created PDF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pdf_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/acrobat/pdf/{pdf_id}/edit": {
      "post": {
        "summary": "Edit PDF",
        "description": "Edit an existing PDF document",
        "parameters": [
          {
            "name": "pdf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "add_text",
                            "add_image",
                            "remove_page",
                            "merge"
                          ]
                        },
                        "params": {
                          "type": "object"
                        }
                      },
                      "required": [
                        "type",
                        "params"
                      ]
                    }
                  }
                },
                "required": [
                  "operations"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited PDF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "edited_pdf_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}