{
  "openapi": "3.0.0",
  "info": {
    "title": "Atlassian API",
    "description": "API for interacting with Atlassian products (Jira and Trello)",
    "version": "1.0.0",
    "contact": {
      "name": "Atlassian Support",
      "url": "https://support.atlassian.com"
    }
  },
  "servers": [
    {
      "url": "https://api.atlassian.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Jira",
      "description": "Jira-related operations"
    },
    {
      "name": "Trello",
      "description": "Trello-related operations"
    }
  ],
  "paths": {
    "/jira/issues": {
      "get": {
        "summary": "Get Jira issues",
        "tags": [
          "Jira"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Project key"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Issue status"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JiraIssue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Jira issue",
        "tags": [
          "Jira"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JiraIssueCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issue created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraIssue"
                }
              }
            }
          }
        }
      }
    },
    "/jira/issues/{issueId}": {
      "get": {
        "summary": "Get a specific Jira issue",
        "tags": [
          "Jira"
        ],
        "parameters": [
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraIssue"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a Jira issue",
        "tags": [
          "Jira"
        ],
        "parameters": [
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JiraIssueUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Issue updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraIssue"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Jira issue",
        "tags": [
          "Jira"
        ],
        "parameters": [
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Issue deleted successfully"
          }
        }
      }
    },
    "/trello/boards": {
      "get": {
        "summary": "Get Trello boards",
        "tags": [
          "Trello"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrelloBoard"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Trello board",
        "tags": [
          "Trello"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrelloBoardCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Board created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrelloBoard"
                }
              }
            }
          }
        }
      }
    },
    "/trello/boards/{boardId}": {
      "get": {
        "summary": "Get a specific Trello board",
        "tags": [
          "Trello"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrelloBoard"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a Trello board",
        "tags": [
          "Trello"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrelloBoardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Board updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrelloBoard"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Trello board",
        "tags": [
          "Trello"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Board deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JiraIssue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "assignee": {
            "type": "string"
          },
          "reporter": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JiraIssueCreate": {
        "type": "object",
        "required": [
          "summary",
          "projectKey",
          "issueType"
        ],
        "properties": {
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "projectKey": {
            "type": "string"
          },
          "issueType": {
            "type": "string"
          },
          "assignee": {
            "type": "string"
          }
        }
      },
      "JiraIssueUpdate": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "assignee": {
            "type": "string"
          }
        }
      },
      "TrelloBoard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          },
          "organizationId": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TrelloBoardCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "organizationId": {
            "type": "string"
          }
        }
      },
      "TrelloBoardUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "closed": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}