{
  "openapi": "3.0.0",
  "info": {
    "title": "Autodesk API",
    "description": "API for interacting with Autodesk services and products",
    "version": "1.0.0",
    "contact": {
      "name": "Autodesk Developer Support",
      "url": "https://forge.autodesk.com/en/support/get-help",
      "email": "forge.help@autodesk.com"
    }
  },
  "servers": [
    {
      "url": "https://developer.api.autodesk.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Endpoints for authentication and token management"
    },
    {
      "name": "Data Management",
      "description": "Endpoints for managing files and projects"
    },
    {
      "name": "Model Derivative",
      "description": "Endpoints for converting and viewing 3D models"
    },
    {
      "name": "Design Automation",
      "description": "Endpoints for automating design tasks"
    },
    {
      "name": "Webhooks",
      "description": "Endpoints for managing webhooks and notifications"
    }
  ],
  "paths": {
    "/authentication/v1/authenticate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate and get access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "scope": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type",
                  "scope"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/v1/hubs": {
      "get": {
        "tags": [
          "Data Management"
        ],
        "summary": "Get list of hubs",
        "security": [
          {
            "oauth2_access_code": [
              "data:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/v1/hubs/{hub_id}/projects": {
      "get": {
        "tags": [
          "Data Management"
        ],
        "summary": "Get list of projects in a hub",
        "security": [
          {
            "oauth2_access_code": [
              "data:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/modelderivative/v2/designdata/{urn}/manifest": {
      "get": {
        "tags": [
          "Model Derivative"
        ],
        "summary": "Get the manifest of a derivative",
        "security": [
          {
            "oauth2_access_code": [
              "data:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "urn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "string"
                    },
                    "derivatives": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/modelderivative/v2/designdata/{urn}/thumbnail": {
      "get": {
        "tags": [
          "Model Derivative"
        ],
        "summary": "Get the thumbnail of a file",
        "security": [
          {
            "oauth2_access_code": [
              "data:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "urn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/da/us-east/v3/workitems": {
      "post": {
        "tags": [
          "Design Automation"
        ],
        "summary": "Submit a workitem",
        "security": [
          {
            "oauth2_access_code": [
              "code:all"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "activityId": {
                    "type": "string"
                  },
                  "arguments": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/v1/systems/{system}/events/{event}/hooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a new webhook",
        "security": [
          {
            "oauth2_access_code": [
              "data:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "system",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callbackUrl": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hookId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2_access_code": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://developer.api.autodesk.com/authentication/v1/authorize",
            "tokenUrl": "https://developer.api.autodesk.com/authentication/v1/gettoken",
            "scopes": {
              "data:read": "Read user data",
              "data:write": "Write user data",
              "data:create": "Create user data",
              "data:search": "Search user data",
              "bucket:create": "Create buckets",
              "bucket:read": "Read buckets",
              "bucket:update": "Update buckets",
              "bucket:delete": "Delete buckets",
              "code:all": "Access to all Design Automation APIs"
            }
          }
        }
      }
    }
  }
}