{
  "openapi": "3.0.0",
  "info": {
    "title": "Box API",
    "description": "The Box Content API gives you access to secure content management and content experience features for use in your own app.",
    "version": "2.0.0",
    "contact": {
      "name": "Box Developer Support",
      "url": "https://developer.box.com",
      "email": "developers@box.com"
    }
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0"
    }
  ],
  "paths": {
    "/folders/{folder_id}": {
      "get": {
        "summary": "Get folder information",
        "description": "Retrieves details for a specific folder.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readonly"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update folder",
        "description": "Updates information for a folder.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readwrite"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete folder",
        "description": "Deletes a folder.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readwrite"
            ]
          }
        ]
      }
    },
    "/folders": {
      "post": {
        "summary": "Create folder",
        "description": "Creates a new folder.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readwrite"
            ]
          }
        ]
      }
    },
    "/files/{file_id}": {
      "get": {
        "summary": "Get file information",
        "description": "Retrieves details for a specific file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readonly"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update file",
        "description": "Updates information for a file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readwrite"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete file",
        "description": "Deletes a file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readwrite"
            ]
          }
        ]
      }
    },
    "/files/{file_id}/content": {
      "get": {
        "summary": "Download file",
        "description": "Retrieves the actual data of the file.",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readonly"
            ]
          }
        ]
      }
    },
    "/files/content": {
      "post": {
        "summary": "Upload file",
        "description": "Uploads a new file.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "$ref": "#/components/schemas/FileUpload"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "root_readwrite"
            ]
          }
        ]
      }
    },
    "/users": {
      "get": {
        "summary": "List enterprise users",
        "description": "Returns a list of all users for the Enterprise along with their user_id, public_name, and login.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage_enterprise"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create user",
        "description": "Creates a new managed user in an enterprise.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage_enterprise"
            ]
          }
        ]
      }
    },
    "/users/{user_id}": {
      "get": {
        "summary": "Get user information",
        "description": "Retrieves information about a user in the enterprise.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage_enterprise"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update user",
        "description": "Updates information about a user in the enterprise.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage_enterprise"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete user",
        "description": "Deletes a user in the enterprise.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage_enterprise"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "folder"
            ]
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "path_collection": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer"
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "created_by": {
            "$ref": "#/components/schemas/User"
          },
          "modified_by": {
            "$ref": "#/components/schemas/User"
          },
          "owned_by": {
            "$ref": "#/components/schemas/User"
          },
          "shared_link": {
            "$ref": "#/components/schemas/SharedLink"
          },
          "folder_upload_email": {
            "type": "object",
            "properties": {
              "access": {
                "type": "string",
                "enum": [
                  "open",
                  "collaborators"
                ]
              },
              "email": {
                "type": "string"
              }
            }
          },
          "parent": {
            "$ref": "#/components/schemas/Folder"
          },
          "item_status": {
            "type": "string",
            "enum": [
              "active",
              "trashed",
              "deleted"
            ]
          }
        }
      },
      "FolderUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "shared_link": {
            "$ref": "#/components/schemas/SharedLink"
          },
          "folder_upload_email": {
            "type": "object",
            "properties": {
              "access": {
                "type": "string",
                "enum": [
                  "open",
                  "collaborators"
                ]
              }
            }
          }
        }
      },
      "FolderCreate": {
        "type": "object",
        "required": [
          "name",
          "parent"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "file"
            ]
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "path_collection": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer"
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "created_by": {
            "$ref": "#/components/schemas/User"
          },
          "modified_by": {
            "$ref": "#/components/schemas/User"
          },
          "owned_by": {
            "$ref": "#/components/schemas/User"
          },
          "shared_link": {
            "$ref": "#/components/schemas/SharedLink"
          },
          "parent": {
            "$ref": "#/components/schemas/Folder"
          },
          "item_status": {
            "type": "string",
            "enum": [
              "active",
              "trashed",
              "deleted"
            ]
          },
          "version_number": {
            "type": "string"
          },
          "sha1": {
            "type": "string"
          },
          "file_version": {
            "$ref": "#/components/schemas/FileVersion"
          }
        }
      },
      "FileUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "shared_link": {
            "$ref": "#/components/schemas/SharedLink"
          }
        }
      },
      "FileUpload": {
        "type": "object",
        "required": [
          "name",
          "parent"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "FileVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "file_version"
            ]
          },
          "sha1": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_by": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ]
          },
          "name": {
            "type": "string"
          },
          "login": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "language": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "space_amount": {
            "type": "integer"
          },
          "space_used": {
            "type": "integer"
          },
          "max_upload_size": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "job_title": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": [
          "name",
          "login"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "login": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ]
          },
          "language": {
            "type": "string"
          },
          "is_sync_enabled": {
            "type": "boolean"
          },
          "job_title": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "space_amount": {
            "type": "integer"
          },
          "tracking_codes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "can_see_managed_users": {
            "type": "boolean"
          },
          "timezone": {
            "type": "string"
          },
          "is_external_collab_restricted": {
            "type": "boolean"
          },
          "is_exempt_from_device_limits": {
            "type": "boolean"
          },
          "is_exempt_from_login_verification": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ]
          },
          "language": {
            "type": "string"
          },
          "is_sync_enabled": {
            "type": "boolean"
          },
          "job_title": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "space_amount": {
            "type": "integer"
          },
          "tracking_codes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "can_see_managed_users": {
            "type": "boolean"
          },
          "timezone": {
            "type": "string"
          },
          "is_external_collab_restricted": {
            "type": "boolean"
          },
          "is_exempt_from_device_limits": {
            "type": "boolean"
          },
          "is_exempt_from_login_verification": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "SharedLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "download_url": {
            "type": "string"
          },
          "vanity_url": {
            "type": "string"
          },
          "effective_access": {
            "type": "string",
            "enum": [
              "open",
              "company",
              "collaborators"
            ]
          },
          "effective_permission": {
            "type": "string",
            "enum": [
              "can_download",
              "can_preview",
              "can_edit"
            ]
          },
          "is_password_enabled": {
            "type": "boolean"
          },
          "unshared_at": {
            "type": "string",
            "format": "date-time"
          },
          "download_count": {
            "type": "integer"
          },
          "preview_count": {
            "type": "integer"
          },
          "access": {
            "type": "string",
            "enum": [
              "open",
              "company",
              "collaborators"
            ]
          },
          "permissions": {
            "type": "object",
            "properties": {
              "can_download": {
                "type": "boolean"
              },
              "can_preview": {
                "type": "boolean"
              },
              "can_edit": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
            "tokenUrl": "https://api.box.com/oauth2/token",
            "scopes": {
              "root_readonly": "Read all files and folders stored in Box",
              "root_readwrite": "Read and write all files and folders stored in Box",
              "manage_enterprise": "Manage an enterprise"
            }
          }
        }
      }
    }
  }
}