{
  "openapi": "3.0.0",
  "info": {
    "title": "CrowdStrike API",
    "description": "API for interacting with CrowdStrike Falcon platform",
    "version": "1.0.0",
    "contact": {
      "name": "CrowdStrike Support",
      "url": "https://www.crowdstrike.com/support/",
      "email": "support@crowdstrike.com"
    }
  },
  "servers": [
    {
      "url": "https://api.crowdstrike.com/v1"
    }
  ],
  "paths": {
    "/devices": {
      "get": {
        "summary": "Get a list of devices",
        "description": "Retrieve a list of devices registered with CrowdStrike Falcon",
        "operationId": "listDevices",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of devices to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/devices/{device_id}": {
      "get": {
        "summary": "Get device details",
        "description": "Retrieve details for a specific device",
        "operationId": "getDevice",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the device",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Device not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/detects": {
      "get": {
        "summary": "Get a list of detections",
        "description": "Retrieve a list of detections from CrowdStrike Falcon",
        "operationId": "listDetections",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of detections to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/incidents": {
      "get": {
        "summary": "Get a list of incidents",
        "description": "Retrieve a list of incidents from CrowdStrike Falcon",
        "operationId": "listIncidents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of incidents to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/intel/indicators": {
      "get": {
        "summary": "Get a list of threat indicators",
        "description": "Retrieve a list of threat indicators from CrowdStrike Falcon Intel",
        "operationId": "listThreatIndicators",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of indicators to return",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreatIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Device": {
        "type": "object",
        "properties": {
          "device_id": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "local_ip": {
            "type": "string"
          },
          "external_ip": {
            "type": "string"
          },
          "mac_address": {
            "type": "string"
          },
          "os_version": {
            "type": "string"
          },
          "first_seen": {
            "type": "string",
            "format": "date-time"
          },
          "last_seen": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "DeviceList": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Detection": {
        "type": "object",
        "properties": {
          "detection_id": {
            "type": "string"
          },
          "device_id": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "in_progress",
              "true_positive",
              "false_positive",
              "closed"
            ]
          },
          "technique": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "detection_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DetectionList": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Detection"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "incident_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "in_progress",
              "resolved",
              "closed"
            ]
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IncidentList": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Incident"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ThreatIndicator": {
        "type": "object",
        "properties": {
          "indicator_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "ip",
              "domain",
              "hash",
              "url"
            ]
          },
          "value": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          },
          "confidence": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "published_date": {
            "type": "string",
            "format": "date-time"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ThreatIndicatorList": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThreatIndicator"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}