{
  "openapi": "3.0.0",
  "info": {
    "title": "DocuSign REST API",
    "description": "The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.",
    "version": "v2.1",
    "contact": {
      "name": "DocuSign Support",
      "url": "https://support.docusign.com",
      "email": "support@docusign.com"
    }
  },
  "servers": [
    {
      "url": "https://demo.docusign.net/restapi",
      "description": "DocuSign Demo/Sandbox server"
    },
    {
      "url": "https://www.docusign.net/restapi",
      "description": "DocuSign Production server"
    }
  ],
  "paths": {
    "/v2.1/accounts/{accountId}/envelopes": {
      "post": {
        "summary": "Create an envelope",
        "description": "Creates an envelope.",
        "operationId": "createEnvelope",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvelopeDefinition"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Envelope created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopeSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "docusignAuth": []
          }
        ]
      },
      "get": {
        "summary": "List envelopes",
        "description": "Returns a list of envelopes.",
        "operationId": "listEnvelopes",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "sent",
                "delivered",
                "signed",
                "completed",
                "declined"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopesInformation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "docusignAuth": []
          }
        ]
      }
    },
    "/v2.1/accounts/{accountId}/envelopes/{envelopeId}": {
      "get": {
        "summary": "Get envelope information",
        "description": "Retrieves the overall status for the specified envelope.",
        "operationId": "getEnvelope",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "docusignAuth": []
          }
        ]
      }
    },
    "/v2.1/accounts/{accountId}/envelopes/{envelopeId}/documents": {
      "get": {
        "summary": "List envelope documents",
        "description": "Returns a list of documents associated with the specified envelope.",
        "operationId": "listEnvelopeDocuments",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopeDocumentsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "docusignAuth": []
          }
        ]
      }
    },
    "/v2.1/accounts/{accountId}/envelopes/{envelopeId}/recipients": {
      "get": {
        "summary": "Get envelope recipient information",
        "description": "Retrieves the status of recipients for a single envelope.",
        "operationId": "listEnvelopeRecipients",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipients"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "docusignAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "EnvelopeDefinition": {
        "type": "object",
        "properties": {
          "emailSubject": {
            "type": "string"
          },
          "emailBlurb": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "sent",
              "delivered",
              "signed",
              "completed",
              "declined"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "recipients": {
            "$ref": "#/components/schemas/Recipients"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "fileExtension": {
            "type": "string"
          },
          "documentBase64": {
            "type": "string"
          }
        }
      },
      "Recipients": {
        "type": "object",
        "properties": {
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            }
          },
          "carbonCopies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CarbonCopy"
            }
          }
        }
      },
      "Signer": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "recipientId": {
            "type": "string"
          },
          "routingOrder": {
            "type": "integer"
          },
          "tabs": {
            "$ref": "#/components/schemas/Tabs"
          }
        }
      },
      "CarbonCopy": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "recipientId": {
            "type": "string"
          },
          "routingOrder": {
            "type": "integer"
          }
        }
      },
      "Tabs": {
        "type": "object",
        "properties": {
          "signHereTabs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignHereTab"
            }
          },
          "dateSignedTabs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DateSignedTab"
            }
          }
        }
      },
      "SignHereTab": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer"
          },
          "xPosition": {
            "type": "integer"
          },
          "yPosition": {
            "type": "integer"
          }
        }
      },
      "DateSignedTab": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "pageNumber": {
            "type": "integer"
          },
          "xPosition": {
            "type": "integer"
          },
          "yPosition": {
            "type": "integer"
          }
        }
      },
      "EnvelopeSummary": {
        "type": "object",
        "properties": {
          "envelopeId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnvelopesInformation": {
        "type": "object",
        "properties": {
          "resultSetSize": {
            "type": "integer"
          },
          "totalSetSize": {
            "type": "integer"
          },
          "envelopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Envelope"
            }
          }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "envelopeId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "emailSubject": {
            "type": "string"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "sentDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "completedDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnvelopeDocumentsResult": {
        "type": "object",
        "properties": {
          "envelopeId": {
            "type": "string"
          },
          "envelopeDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvelopeDocument"
            }
          }
        }
      },
      "EnvelopeDocument": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "docusignAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://account-d.docusign.com/oauth/auth",
            "tokenUrl": "https://account-d.docusign.com/oauth/token",
            "scopes": {
              "signature": "Grants read/write access to envelope data",
              "extended": "Grants access to extended permissions"
            }
          }
        }
      }
    }
  }
}