{
  "openapi": "3.0.0",
  "info": {
    "title": "eBay API",
    "description": "API for interacting with eBay's marketplace",
    "version": "1.0.0",
    "contact": {
      "name": "eBay Developer Support",
      "url": "https://developer.ebay.com/support"
    }
  },
  "servers": [
    {
      "url": "https://api.ebay.com/v1"
    }
  ],
  "paths": {
    "/sell/inventory/v1/inventory_item": {
      "post": {
        "summary": "Create or update an inventory item",
        "operationId": "createOrReplaceInventoryItem",
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sell/inventory/v1/inventory_item/{sku}": {
      "get": {
        "summary": "Get an inventory item",
        "operationId": "getInventoryItem",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            }
          }
        }
      }
    },
    "/sell/account/v1/payment_policy": {
      "post": {
        "summary": "Create a payment policy",
        "operationId": "createPaymentPolicy",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentPolicy"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentPolicyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sell/account/v1/return_policy": {
      "post": {
        "summary": "Create a return policy",
        "operationId": "createReturnPolicy",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReturnPolicy"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnPolicyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sell/fulfillment/v1/order/{orderId}": {
      "get": {
        "summary": "Get an order",
        "operationId": "getOrder",
        "tags": [
          "Fulfillment"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/sell/marketing/v1/ad_campaign": {
      "post": {
        "summary": "Create an ad campaign",
        "operationId": "createAdCampaign",
        "tags": [
          "Marketing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdCampaign"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdCampaignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/buy/browse/v1/item_summary/search": {
      "get": {
        "summary": "Search for items",
        "operationId": "searchItems",
        "tags": [
          "Browse"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "A string consisting of one or more keywords to use to search for items",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InventoryItem": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "availability": {
            "$ref": "#/components/schemas/Availability"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "aspects": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Availability": {
        "type": "object",
        "properties": {
          "shipToLocationAvailability": {
            "$ref": "#/components/schemas/ShipToLocationAvailability"
          }
        }
      },
      "ShipToLocationAvailability": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer"
          }
        }
      },
      "InventoryItemResponse": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentPolicy": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "paymentMethodType": {
            "type": "string",
            "enum": [
              "PAYPAL",
              "CREDIT_CARD",
              "BANK_TRANSFER"
            ]
          }
        }
      },
      "PaymentPolicyResponse": {
        "type": "object",
        "properties": {
          "paymentPolicyId": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ReturnPolicy": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "returnsAccepted": {
            "type": "boolean"
          },
          "returnPeriod": {
            "$ref": "#/components/schemas/TimeDuration"
          }
        }
      },
      "TimeDuration": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer"
          },
          "unit": {
            "type": "string",
            "enum": [
              "DAY",
              "MONTH",
              "YEAR"
            ]
          }
        }
      },
      "ReturnPolicyResponse": {
        "type": "object",
        "properties": {
          "returnPolicyId": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "buyer": {
            "$ref": "#/components/schemas/Buyer"
          },
          "orderItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Amount"
          }
        }
      },
      "Buyer": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "$ref": "#/components/schemas/Amount"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "AdCampaign": {
        "type": "object",
        "properties": {
          "campaignName": {
            "type": "string"
          },
          "fundingStrategy": {
            "$ref": "#/components/schemas/FundingStrategy"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FundingStrategy": {
        "type": "object",
        "properties": {
          "fundingModel": {
            "type": "string",
            "enum": [
              "COST_PER_CLICK",
              "COST_PER_SALE"
            ]
          },
          "bidPercentage": {
            "type": "number"
          }
        }
      },
      "AdCampaignResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "itemSummaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemSummary"
            }
          }
        }
      },
      "ItemSummary": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/Amount"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errorId": {
            "type": "integer"
          },
          "domain": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.ebay.com/oauth2/authorize",
            "tokenUrl": "https://api.ebay.com/identity/v1/oauth2/token",
            "scopes": {
              "https://api.ebay.com/oauth/api_scope": "View public data",
              "https://api.ebay.com/oauth/api_scope/sell.inventory": "View and manage inventory",
              "https://api.ebay.com/oauth/api_scope/sell.account": "View and manage account settings",
              "https://api.ebay.com/oauth/api_scope/sell.fulfillment": "View and manage orders",
              "https://api.ebay.com/oauth/api_scope/sell.marketing": "View and manage marketing activities"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "oauth2": []
    }
  ]
}