{
  "openapi": "3.0.0",
  "info": {
    "title": "Facebook API",
    "description": "API for interacting with Facebook's social network features",
    "version": "v13.0",
    "contact": {
      "name": "Facebook Developer Support",
      "url": "https://developers.facebook.com/support/"
    }
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v13.0"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Get current user's profile",
        "description": "Retrieve the profile information of the currently authenticated user",
        "security": [
          {
            "oauth2": [
              "user_profile"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/me/feed": {
      "get": {
        "summary": "Get user's feed",
        "description": "Retrieve posts from the current user's feed",
        "security": [
          {
            "oauth2": [
              "user_posts"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of posts to retrieve",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a post",
        "description": "Create a new post on the user's feed",
        "security": [
          {
            "oauth2": [
              "publish_to_groups"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/me/friends": {
      "get": {
        "summary": "Get user's friends",
        "description": "Retrieve a list of the current user's friends",
        "security": [
          {
            "oauth2": [
              "user_friends"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of friends to retrieve",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/me/photos": {
      "get": {
        "summary": "Get user's photos",
        "description": "Retrieve photos uploaded by the current user",
        "security": [
          {
            "oauth2": [
              "user_photos"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of photos to retrieve",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Photo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Upload a photo",
        "description": "Upload a new photo to the user's account",
        "security": [
          {
            "oauth2": [
              "publish_to_groups"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "format": "binary"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Photo uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/page/{page_id}": {
      "get": {
        "summary": "Get page information",
        "description": "Retrieve information about a specific Facebook page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "404": {
            "description": "Page not found"
          }
        }
      }
    },
    "/page/{page_id}/feed": {
      "get": {
        "summary": "Get page feed",
        "description": "Retrieve posts from a specific Facebook page's feed",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of posts to retrieve",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Page not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "picture": {
            "type": "string"
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "PostInput": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "link": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "Photo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "album": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "fan_count": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.facebook.com/v13.0/dialog/oauth",
            "tokenUrl": "https://graph.facebook.com/v13.0/oauth/access_token",
            "scopes": {
              "user_profile": "Access user's basic profile",
              "user_posts": "Access user's posts",
              "publish_to_groups": "Publish posts and photos",
              "user_friends": "Access user's friend list",
              "user_photos": "Access user's photos"
            }
          }
        }
      }
    }
  }
}