{
  "openapi": "3.0.0",
  "info": {
    "title": "Fastly API",
    "description": "The Fastly API for managing CDN services and configurations",
    "version": "1.0.0",
    "contact": {
      "name": "Fastly Support",
      "url": "https://www.fastly.com/support",
      "email": "support@fastly.com"
    }
  },
  "servers": [
    {
      "url": "https://api.fastly.com"
    }
  ],
  "paths": {
    "/service": {
      "get": {
        "summary": "List services",
        "description": "List all services for the authenticated user",
        "tags": [
          "Services"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create a service",
        "description": "Create a new service",
        "tags": [
          "Services"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/service/{service_id}": {
      "get": {
        "summary": "Get a service",
        "description": "Get details of a specific service",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update a service",
        "description": "Update an existing service",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a service",
        "description": "Delete an existing service",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/service/{service_id}/version": {
      "get": {
        "summary": "List service versions",
        "description": "List all versions of a service",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Version"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create a service version",
        "description": "Create a new version of a service",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/service/{service_id}/version/{version_id}": {
      "get": {
        "summary": "Get a service version",
        "description": "Get details of a specific service version",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/service/{service_id}/version/{version_id}/activate": {
      "put": {
        "summary": "Activate a service version",
        "description": "Activate a specific version of a service",
        "tags": [
          "Versions"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/service/{service_id}/version/{version_id}/backend": {
      "get": {
        "summary": "List backends",
        "description": "List all backends for a service version",
        "tags": [
          "Backends"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Backend"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create a backend",
        "description": "Create a new backend for a service version",
        "tags": [
          "Backends"
        ],
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackendCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backend"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ServiceCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ServiceUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Version": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "service_id": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Backend": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "use_ssl": {
            "type": "boolean"
          },
          "ssl_check_cert": {
            "type": "boolean"
          },
          "ssl_cert_hostname": {
            "type": "string"
          },
          "shield": {
            "type": "string"
          },
          "weight": {
            "type": "integer"
          },
          "max_conn": {
            "type": "integer"
          },
          "connect_timeout": {
            "type": "integer"
          },
          "first_byte_timeout": {
            "type": "integer"
          },
          "between_bytes_timeout": {
            "type": "integer"
          }
        }
      },
      "BackendCreate": {
        "type": "object",
        "required": [
          "name",
          "address"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "use_ssl": {
            "type": "boolean"
          },
          "ssl_check_cert": {
            "type": "boolean"
          },
          "ssl_cert_hostname": {
            "type": "string"
          },
          "shield": {
            "type": "string"
          },
          "weight": {
            "type": "integer"
          },
          "max_conn": {
            "type": "integer"
          },
          "connect_timeout": {
            "type": "integer"
          },
          "first_byte_timeout": {
            "type": "integer"
          },
          "between_bytes_timeout": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "APIKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Fastly-Key"
      }
    }
  }
}