{
  "openapi": "3.0.0",
  "info": {
    "title": "GoDaddy API",
    "description": "API for managing domains, DNS, and other GoDaddy services",
    "version": "1.0.0",
    "contact": {
      "name": "GoDaddy Support",
      "url": "https://www.godaddy.com/help",
      "email": "support@godaddy.com"
    }
  },
  "servers": [
    {
      "url": "https://api.godaddy.com/v1"
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "summary": "List domains",
        "description": "Get a list of domains for the authenticated user",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "statuses",
            "in": "query",
            "description": "Domain statuses to filter by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "AWAITING",
                  "CANCELLED",
                  "EXPIRED",
                  "LOCKED",
                  "PENDING_CANCEL",
                  "PENDING_EXPIRATION",
                  "PENDING_RESTORE",
                  "TRANSFERRED_OUT"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of domains to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "marker",
            "in": "query",
            "description": "Marker for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "summary": "Purchase a domain",
        "description": "Purchase a new domain",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainPurchase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful purchase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}": {
      "get": {
        "summary": "Get domain details",
        "description": "Get details for a specific domain",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}/records": {
      "get": {
        "summary": "Get DNS records",
        "description": "Get DNS records for a specific domain",
        "tags": [
          "DNS"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Record type",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "AAAA",
                "CNAME",
                "MX",
                "NS",
                "SOA",
                "SRV",
                "TXT"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Record name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DNSRecord"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "summary": "Update DNS records",
        "description": "Replace all DNS records for a specific domain",
        "tags": [
          "DNS"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DNSRecord"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Domain not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/available": {
      "post": {
        "summary": "Check domain availability",
        "description": "Check availability of multiple domains",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "checkType": {
                    "type": "string",
                    "enum": [
                      "FAST",
                      "FULL"
                    ],
                    "default": "FAST"
                  }
                },
                "required": [
                  "domains"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/DomainAvailability"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "Domain": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "domainId": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "AWAITING",
              "CANCELLED",
              "EXPIRED",
              "LOCKED",
              "PENDING_CANCEL",
              "PENDING_EXPIRATION",
              "PENDING_RESTORE",
              "TRANSFERRED_OUT"
            ]
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "renewAuto": {
            "type": "boolean"
          },
          "privacy": {
            "type": "boolean"
          },
          "locked": {
            "type": "boolean"
          },
          "transferProtected": {
            "type": "boolean"
          },
          "nameServers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contactRegistrant": {
            "$ref": "#/components/schemas/Contact"
          },
          "contactAdmin": {
            "$ref": "#/components/schemas/Contact"
          },
          "contactTech": {
            "$ref": "#/components/schemas/Contact"
          },
          "contactBilling": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "nameFirst": {
            "type": "string"
          },
          "nameLast": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "addressMailing": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "DNSRecord": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "NS",
              "SOA",
              "SRV",
              "TXT"
            ]
          },
          "name": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "ttl": {
            "type": "integer"
          }
        },
        "required": [
          "type",
          "name",
          "data"
        ]
      },
      "DomainPurchase": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "period": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          },
          "nameServers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "renewAuto": {
            "type": "boolean"
          },
          "privacy": {
            "type": "boolean"
          },
          "contactRegistrant": {
            "$ref": "#/components/schemas/Contact"
          },
          "contactAdmin": {
            "$ref": "#/components/schemas/Contact"
          },
          "contactTech": {
            "$ref": "#/components/schemas/Contact"
          },
          "contactBilling": {
            "$ref": "#/components/schemas/Contact"
          }
        },
        "required": [
          "domain",
          "period",
          "contactRegistrant",
          "contactAdmin",
          "contactTech",
          "contactBilling"
        ]
      },
      "DomainAvailability": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean"
          },
          "currency": {
            "type": "string"
          },
          "definitive": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "period": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          }
        }
      }
    }
  }
}