{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Search API",
    "description": "API for performing Google searches and retrieving results",
    "version": "1.0.0",
    "contact": {
      "name": "Google Support",
      "url": "https://support.google.com",
      "email": "support@google.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.google.com/v1"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Perform a Google search",
        "description": "Search the web using Google's search engine and retrieve results",
        "operationId": "searchGoogle",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "query",
            "description": "Number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Index of the first result to return",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Language restriction for search results",
            "schema": {
              "type": "string",
              "enum": [
                "lang_en",
                "lang_fr",
                "lang_de",
                "lang_es",
                "lang_it",
                "lang_ja"
              ]
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "Safe search setting",
            "schema": {
              "type": "string",
              "enum": [
                "off",
                "medium",
                "high"
              ],
              "default": "medium"
            }
          },
          {
            "name": "dateRestrict",
            "in": "query",
            "description": "Restrict results to a specific time period",
            "schema": {
              "type": "string",
              "enum": [
                "d1",
                "w1",
                "m1",
                "y1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search/images": {
      "get": {
        "summary": "Perform a Google image search",
        "description": "Search for images using Google's image search engine and retrieve results",
        "operationId": "searchGoogleImages",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "query",
            "description": "Number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Index of the first result to return",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "imgSize",
            "in": "query",
            "description": "Image size filter",
            "schema": {
              "type": "string",
              "enum": [
                "icon",
                "small",
                "medium",
                "large",
                "xlarge",
                "xxlarge",
                "huge"
              ]
            }
          },
          {
            "name": "imgType",
            "in": "query",
            "description": "Image type filter",
            "schema": {
              "type": "string",
              "enum": [
                "clipart",
                "face",
                "lineart",
                "news",
                "photo"
              ]
            }
          },
          {
            "name": "imgColorType",
            "in": "query",
            "description": "Image color type filter",
            "schema": {
              "type": "string",
              "enum": [
                "color",
                "gray",
                "mono"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResults": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "example": "customsearch#search"
          },
          "url": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "application/json"
              },
              "template": {
                "type": "string",
                "example": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
              }
            }
          },
          "queries": {
            "type": "object",
            "properties": {
              "request": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Google Custom Search - test"
                    },
                    "totalResults": {
                      "type": "string",
                      "example": "300000000"
                    },
                    "searchTerms": {
                      "type": "string",
                      "example": "test"
                    },
                    "count": {
                      "type": "integer",
                      "example": 10
                    },
                    "startIndex": {
                      "type": "integer",
                      "example": 1
                    },
                    "inputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "outputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "safe": {
                      "type": "string",
                      "example": "off"
                    },
                    "cx": {
                      "type": "string",
                      "example": "your-custom-search-engine-id"
                    }
                  }
                }
              },
              "nextPage": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Google Custom Search - test"
                    },
                    "totalResults": {
                      "type": "string",
                      "example": "300000000"
                    },
                    "searchTerms": {
                      "type": "string",
                      "example": "test"
                    },
                    "count": {
                      "type": "integer",
                      "example": 10
                    },
                    "startIndex": {
                      "type": "integer",
                      "example": 11
                    },
                    "inputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "outputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "safe": {
                      "type": "string",
                      "example": "off"
                    },
                    "cx": {
                      "type": "string",
                      "example": "your-custom-search-engine-id"
                    }
                  }
                }
              }
            }
          },
          "context": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "example": "Google"
              }
            }
          },
          "searchInformation": {
            "type": "object",
            "properties": {
              "searchTime": {
                "type": "number",
                "example": 0.24
              },
              "formattedSearchTime": {
                "type": "string",
                "example": "0.24"
              },
              "totalResults": {
                "type": "string",
                "example": "300000000"
              },
              "formattedTotalResults": {
                "type": "string",
                "example": "300,000,000"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "example": "customsearch#result"
                },
                "title": {
                  "type": "string",
                  "example": "Test - Wikipedia"
                },
                "htmlTitle": {
                  "type": "string",
                  "example": "<b>Test</b> - Wikipedia"
                },
                "link": {
                  "type": "string",
                  "example": "https://en.wikipedia.org/wiki/Test"
                },
                "displayLink": {
                  "type": "string",
                  "example": "en.wikipedia.org"
                },
                "snippet": {
                  "type": "string",
                  "example": "Test(s), testing, or TEST may refer to: Test (assessment), an educational assessment intended to measure the respondents' knowledge or other abilities."
                },
                "htmlSnippet": {
                  "type": "string",
                  "example": "<b>Test</b>(s), <b>testing</b>, or TEST may refer to: <b>Test</b> (assessment), an educational assessment intended to measure the respondents&#39; knowledge or other abilities."
                },
                "cacheId": {
                  "type": "string",
                  "example": "9WlLIgfbRMgJ"
                },
                "formattedUrl": {
                  "type": "string",
                  "example": "https://en.wikipedia.org/wiki/Test"
                },
                "htmlFormattedUrl": {
                  "type": "string",
                  "example": "https://en.wikipedia.org/wiki/<b>Test</b>"
                },
                "pagemap": {
                  "type": "object",
                  "properties": {
                    "metatags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ImageSearchResults": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "example": "customsearch#search"
          },
          "url": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "application/json"
              },
              "template": {
                "type": "string",
                "example": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
              }
            }
          },
          "queries": {
            "type": "object",
            "properties": {
              "request": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Google Custom Search - test"
                    },
                    "totalResults": {
                      "type": "string",
                      "example": "3620000000"
                    },
                    "searchTerms": {
                      "type": "string",
                      "example": "test"
                    },
                    "count": {
                      "type": "integer",
                      "example": 10
                    },
                    "startIndex": {
                      "type": "integer",
                      "example": 1
                    },
                    "inputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "outputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "safe": {
                      "type": "string",
                      "example": "off"
                    },
                    "cx": {
                      "type": "string",
                      "example": "your-custom-search-engine-id"
                    },
                    "searchType": {
                      "type": "string",
                      "example": "image"
                    }
                  }
                }
              },
              "nextPage": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Google Custom Search - test"
                    },
                    "totalResults": {
                      "type": "string",
                      "example": "3620000000"
                    },
                    "searchTerms": {
                      "type": "string",
                      "example": "test"
                    },
                    "count": {
                      "type": "integer",
                      "example": 10
                    },
                    "startIndex": {
                      "type": "integer",
                      "example": 11
                    },
                    "inputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "outputEncoding": {
                      "type": "string",
                      "example": "utf8"
                    },
                    "safe": {
                      "type": "string",
                      "example": "off"
                    },
                    "cx": {
                      "type": "string",
                      "example": "your-custom-search-engine-id"
                    },
                    "searchType": {
                      "type": "string",
                      "example": "image"
                    }
                  }
                }
              }
            }
          },
          "context": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "example": "Google"
              }
            }
          },
          "searchInformation": {
            "type": "object",
            "properties": {
              "searchTime": {
                "type": "number",
                "example": 0.304821
              },
              "formattedSearchTime": {
                "type": "string",
                "example": "0.30"
              },
              "totalResults": {
                "type": "string",
                "example": "3620000000"
              },
              "formattedTotalResults": {
                "type": "string",
                "example": "3,620,000,000"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "example": "customsearch#result"
                },
                "title": {
                  "type": "string",
                  "example": "Test Tube with Blue Liquid - Free Stock Photo - Pexels"
                },
                "htmlTitle": {
                  "type": "string",
                  "example": "<b>Test</b> Tube with Blue Liquid - Free Stock Photo - Pexels"
                },
                "link": {
                  "type": "string",
                  "example": "https://images.pexels.com/photos/2280571/pexels-photo-2280571.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                },
                "displayLink": {
                  "type": "string",
                  "example": "www.pexels.com"
                },
                "snippet": {
                  "type": "string",
                  "example": "Test Tube with Blue Liquid"
                },
                "htmlSnippet": {
                  "type": "string",
                  "example": "<b>Test</b> Tube with Blue Liquid"
                },
                "mime": {
                  "type": "string",
                  "example": "image/jpeg"
                },
                "fileFormat": {
                  "type": "string",
                  "example": "image/jpeg"
                },
                "image": {
                  "type": "object",
                  "properties": {
                    "contextLink": {
                      "type": "string",
                      "example": "https://www.pexels.com/photo/test-tube-with-blue-liquid-2280571/"
                    },
                    "height": {
                      "type": "integer",
                      "example": 750
                    },
                    "width": {
                      "type": "integer",
                      "example": 500
                    },
                    "byteSize": {
                      "type": "integer",
                      "example": 26801
                    },
                    "thumbnailLink": {
                      "type": "string",
                      "example": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmY9Xty9QUU9iZF3dp2XF1A-GvUWO8jD7Lfg&usqp=CAU"
                    },
                    "thumbnailHeight": {
                      "type": "integer",
                      "example": 225
                    },
                    "thumbnailWidth": {
                      "type": "integer",
                      "example": 150
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}