{
  "openapi": "3.0.0",
  "info": {
    "title": "HelloSign API",
    "description": "API for electronic signature and document management",
    "version": "1.0.0",
    "contact": {
      "name": "HelloSign Support",
      "url": "https://www.hellosign.com/contact",
      "email": "support@hellosign.com"
    }
  },
  "servers": [
    {
      "url": "https://api.hellosign.com/v3"
    }
  ],
  "paths": {
    "/signature_request/send": {
      "post": {
        "summary": "Send a signature request",
        "description": "Creates and sends a new SignatureRequest with the submitted documents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureRequestSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/signature_request/{signature_request_id}": {
      "get": {
        "summary": "Get signature request",
        "description": "Retrieves a SignatureRequest with the given signature_request_id",
        "parameters": [
          {
            "name": "signature_request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Signature request not found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/signature_request/list": {
      "get": {
        "summary": "List signature requests",
        "description": "Returns a list of SignatureRequests that you can access",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequestList"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/template/list": {
      "get": {
        "summary": "List templates",
        "description": "Returns a list of your Templates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateList"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/template/{template_id}": {
      "get": {
        "summary": "Get template",
        "description": "Retrieves a Template with the given template_id",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/account": {
      "get": {
        "summary": "Get account",
        "description": "Returns the properties of your Account",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SignatureRequestSend": {
        "type": "object",
        "required": [
          "signers",
          "files"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            }
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Signer": {
        "type": "object",
        "required": [
          "email_address",
          "name"
        ],
        "properties": {
          "email_address": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "SignatureRequestResponse": {
        "type": "object",
        "properties": {
          "signature_request": {
            "$ref": "#/components/schemas/SignatureRequest"
          }
        }
      },
      "SignatureRequest": {
        "type": "object",
        "properties": {
          "signature_request_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "is_complete": {
            "type": "boolean"
          },
          "has_error": {
            "type": "boolean"
          },
          "files_url": {
            "type": "string"
          },
          "signing_url": {
            "type": "string"
          },
          "details_url": {
            "type": "string"
          },
          "cc_email_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "signing_redirect_url": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "checkbox"
            ]
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "SignatureRequestList": {
        "type": "object",
        "properties": {
          "list_info": {
            "$ref": "#/components/schemas/ListInfo"
          },
          "signature_requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignatureRequest"
            }
          }
        }
      },
      "ListInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "num_pages": {
            "type": "integer"
          },
          "num_results": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          }
        }
      },
      "TemplateList": {
        "type": "object",
        "properties": {
          "list_info": {
            "$ref": "#/components/schemas/ListInfo"
          },
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "signer_roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerRole"
            }
          },
          "cc_roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "named_form_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedFormField"
            }
          }
        }
      },
      "SignerRole": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "index": {
            "type": "integer"
          }
        }
      },
      "NamedFormField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "checkbox",
              "date",
              "signature"
            ]
          },
          "signer": {
            "type": "string"
          },
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "email_address": {
            "type": "string"
          },
          "is_paid_hs": {
            "type": "boolean"
          },
          "is_paid_hf": {
            "type": "boolean"
          },
          "quotas": {
            "$ref": "#/components/schemas/Quotas"
          }
        }
      },
      "Quotas": {
        "type": "object",
        "properties": {
          "api_signature_requests_left": {
            "type": "integer"
          },
          "documents_left": {
            "type": "integer"
          },
          "templates_left": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}