{
  "openapi": "3.0.0",
  "info": {
    "title": "IBM API",
    "description": "A comprehensive API for IBM services and products",
    "version": "1.0.0",
    "contact": {
      "name": "IBM API Support",
      "url": "https://www.ibm.com/support",
      "email": "api-support@ibm.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.ibm.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://api-test.ibm.com/v1",
      "description": "Test server"
    }
  ],
  "tags": [
    {
      "name": "Cloud",
      "description": "IBM Cloud services"
    },
    {
      "name": "AI",
      "description": "IBM Watson and AI services"
    },
    {
      "name": "Security",
      "description": "IBM Security services"
    },
    {
      "name": "Blockchain",
      "description": "IBM Blockchain services"
    },
    {
      "name": "Quantum",
      "description": "IBM Quantum computing services"
    }
  ],
  "paths": {
    "/cloud/instances": {
      "get": {
        "summary": "List cloud instances",
        "tags": [
          "Cloud"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudInstancesList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new cloud instance",
        "tags": [
          "Cloud"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudInstanceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudInstance"
                }
              }
            }
          }
        }
      }
    },
    "/ai/nlp/analyze": {
      "post": {
        "summary": "Analyze text using NLP",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NLPAnalyzeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NLPAnalyzeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/security/threats": {
      "get": {
        "summary": "Get security threats",
        "tags": [
          "Security"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityThreatsList"
                }
              }
            }
          }
        }
      }
    },
    "/blockchain/networks": {
      "get": {
        "summary": "List blockchain networks",
        "tags": [
          "Blockchain"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockchainNetworksList"
                }
              }
            }
          }
        }
      }
    },
    "/quantum/jobs": {
      "post": {
        "summary": "Submit a quantum computing job",
        "tags": [
          "Quantum"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuantumJobSubmit"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuantumJob"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CloudInstancesList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CloudInstance"
        }
      },
      "CloudInstance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "compute",
              "storage",
              "network"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "error"
            ]
          }
        }
      },
      "CloudInstanceCreate": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "compute",
              "storage",
              "network"
            ]
          }
        }
      },
      "NLPAnalyzeRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "entities",
                "keywords",
                "sentiment"
              ]
            }
          }
        }
      },
      "NLPAnalyzeResponse": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sentiment": {
            "type": "object",
            "properties": {
              "score": {
                "type": "number"
              },
              "label": {
                "type": "string",
                "enum": [
                  "positive",
                  "negative",
                  "neutral"
                ]
              }
            }
          }
        }
      },
      "SecurityThreatsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SecurityThreat"
        }
      },
      "SecurityThreat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "description": {
            "type": "string"
          }
        }
      },
      "BlockchainNetworksList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BlockchainNetwork"
        }
      },
      "BlockchainNetwork": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "public",
              "private",
              "consortium"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "QuantumJobSubmit": {
        "type": "object",
        "required": [
          "circuit",
          "shots"
        ],
        "properties": {
          "circuit": {
            "type": "string"
          },
          "shots": {
            "type": "integer",
            "minimum": 1
          },
          "backend": {
            "type": "string"
          }
        }
      },
      "QuantumJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed"
            ]
          },
          "results": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.ibm.com/oauth/authorize",
            "tokenUrl": "https://auth.ibm.com/oauth/token",
            "scopes": {
              "read:cloud": "Read access to cloud resources",
              "write:cloud": "Write access to cloud resources",
              "read:ai": "Read access to AI services",
              "write:ai": "Write access to AI services",
              "read:security": "Read access to security services",
              "read:blockchain": "Read access to blockchain services",
              "write:quantum": "Write access to quantum computing services"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "OAuth2": [
        "read:cloud",
        "write:cloud",
        "read:ai",
        "write:ai",
        "read:security",
        "read:blockchain",
        "write:quantum"
      ]
    }
  ]
}