{
  "openapi": "3.0.0",
  "info": {
    "title": "Intel API",
    "description": "API for accessing Intel product information, services, and company data",
    "version": "1.0.0",
    "contact": {
      "name": "Intel API Support",
      "email": "api-support@intel.com",
      "url": "https://developer.intel.com/api-support"
    }
  },
  "servers": [
    {
      "url": "https://api.intel.com/v1"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "summary": "List all Intel products",
        "description": "Retrieve a list of all Intel products",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter products by category",
            "schema": {
              "type": "string",
              "enum": [
                "processors",
                "servers",
                "memory",
                "ssd",
                "fpga",
                "networking"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "summary": "Get product details",
        "description": "Retrieve detailed information about a specific Intel product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the product",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/processors": {
      "get": {
        "summary": "List Intel processors",
        "description": "Retrieve a list of Intel processors",
        "parameters": [
          {
            "name": "series",
            "in": "query",
            "description": "Filter processors by series",
            "schema": {
              "type": "string",
              "enum": [
                "Core",
                "Xeon",
                "Atom",
                "Pentium",
                "Celeron"
              ]
            }
          },
          {
            "name": "generation",
            "in": "query",
            "description": "Filter processors by generation",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Processor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/processors/{processorId}": {
      "get": {
        "summary": "Get processor details",
        "description": "Retrieve detailed information about a specific Intel processor",
        "parameters": [
          {
            "name": "processorId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the processor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Processor"
                }
              }
            }
          },
          "404": {
            "description": "Processor not found"
          }
        }
      }
    },
    "/software": {
      "get": {
        "summary": "List Intel software products",
        "description": "Retrieve a list of Intel software products and tools",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter software by category",
            "schema": {
              "type": "string",
              "enum": [
                "development",
                "optimization",
                "security",
                "ai",
                "iot"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Software"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/software/{softwareId}": {
      "get": {
        "summary": "Get software details",
        "description": "Retrieve detailed information about a specific Intel software product",
        "parameters": [
          {
            "name": "softwareId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the software product",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Software"
                }
              }
            }
          },
          "404": {
            "description": "Software not found"
          }
        }
      }
    },
    "/technologies": {
      "get": {
        "summary": "List Intel technologies",
        "description": "Retrieve a list of Intel technologies",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter technologies by category",
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "5g",
                "iot",
                "autonomous-driving",
                "cloud"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Technology"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/technologies/{technologyId}": {
      "get": {
        "summary": "Get technology details",
        "description": "Retrieve detailed information about a specific Intel technology",
        "parameters": [
          {
            "name": "technologyId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the technology",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Technology"
                }
              }
            }
          },
          "404": {
            "description": "Technology not found"
          }
        }
      }
    },
    "/company/news": {
      "get": {
        "summary": "Get Intel news",
        "description": "Retrieve recent news articles about Intel",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NewsArticle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/investors": {
      "get": {
        "summary": "Get investor information",
        "description": "Retrieve investor-related information about Intel",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvestorInfo"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "specifications": {
            "type": "object"
          },
          "price": {
            "type": "number"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Processor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "series": {
            "type": "string"
          },
          "generation": {
            "type": "integer"
          },
          "cores": {
            "type": "integer"
          },
          "threads": {
            "type": "integer"
          },
          "baseFrequency": {
            "type": "number"
          },
          "maxFrequency": {
            "type": "number"
          },
          "cacheSize": {
            "type": "integer"
          },
          "tdp": {
            "type": "integer"
          },
          "lithography": {
            "type": "integer"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Software": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "licenseType": {
            "type": "string"
          },
          "supportedPlatforms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Technology": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "keyFeatures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "relatedProducts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NewsArticle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "publishDate": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "InvestorInfo": {
        "type": "object",
        "properties": {
          "stockSymbol": {
            "type": "string"
          },
          "currentStockPrice": {
            "type": "number"
          },
          "marketCap": {
            "type": "number"
          },
          "annualRevenue": {
            "type": "number"
          },
          "netIncome": {
            "type": "number"
          },
          "dividendYield": {
            "type": "number"
          },
          "latestEarningsReport": {
            "type": "object",
            "properties": {
              "fiscalQuarter": {
                "type": "string"
              },
              "fiscalYear": {
                "type": "integer"
              },
              "reportDate": {
                "type": "string",
                "format": "date"
              },
              "eps": {
                "type": "number"
              },
              "revenue": {
                "type": "number"
              }
            }
          }
        }
      }
    }
  }
}