{
  "openapi": "3.0.0",
  "info": {
    "title": "Intuit API",
    "description": "API for Intuit services including QuickBooks Online, Payments, and User Management",
    "version": "1.0.0",
    "contact": {
      "name": "Intuit Developer Support",
      "url": "https://developer.intuit.com/support",
      "email": "developer_support@intuit.com"
    }
  },
  "servers": [
    {
      "url": "https://api.intuit.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication operations"
    },
    {
      "name": "QuickBooks",
      "description": "QuickBooks Online operations"
    },
    {
      "name": "Payments",
      "description": "Payment processing operations"
    },
    {
      "name": "Users",
      "description": "User management operations"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get OAuth2 token",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/quickbooks/v3/company/{realmId}/customer": {
      "get": {
        "tags": [
          "QuickBooks"
        ],
        "summary": "Get customers",
        "parameters": [
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Customer": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "com.intuit.quickbooks.accounting"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "QuickBooks"
        ],
        "summary": "Create customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "com.intuit.quickbooks.accounting"
            ]
          }
        ]
      }
    },
    "/quickbooks/v3/company/{realmId}/invoice": {
      "get": {
        "tags": [
          "QuickBooks"
        ],
        "summary": "Get invoices",
        "parameters": [
          {
            "name": "realmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Invoice": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "com.intuit.quickbooks.accounting"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "QuickBooks"
        ],
        "summary": "Create invoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "com.intuit.quickbooks.accounting"
            ]
          }
        ]
      }
    },
    "/payments/v3/charges": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create charge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Charge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "com.intuit.quickbooks.payment"
            ]
          }
        ]
      }
    },
    "/payments/v3/refunds": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create refund",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Refund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "com.intuit.quickbooks.payment"
            ]
          }
        ]
      }
    },
    "/users/v1": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "openid",
              "profile",
              "email"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "GivenName": {
            "type": "string"
          },
          "FamilyName": {
            "type": "string"
          },
          "PrimaryEmailAddr": {
            "type": "object",
            "properties": {
              "Address": {
                "type": "string"
              }
            }
          },
          "PrimaryPhone": {
            "type": "object",
            "properties": {
              "FreeFormNumber": {
                "type": "string"
              }
            }
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "CustomerRef": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              }
            }
          },
          "TxnDate": {
            "type": "string",
            "format": "date"
          },
          "DueDate": {
            "type": "string",
            "format": "date"
          },
          "TotalAmt": {
            "type": "number"
          },
          "Line": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Amount": {
                  "type": "number"
                },
                "Description": {
                  "type": "string"
                },
                "DetailType": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "card": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              },
              "expMonth": {
                "type": "string"
              },
              "expYear": {
                "type": "string"
              },
              "cvc": {
                "type": "string"
              }
            }
          },
          "context": {
            "type": "object",
            "properties": {
              "mobile": {
                "type": "boolean"
              },
              "isEcommerce": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "chargeId": {
            "type": "string"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://appcenter.intuit.com/connect/oauth2",
            "tokenUrl": "https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer",
            "scopes": {
              "com.intuit.quickbooks.accounting": "QuickBooks Online Accounting API",
              "com.intuit.quickbooks.payment": "QuickBooks Payments API",
              "openid": "OpenID Connect",
              "profile": "User profile information",
              "email": "User email address"
            }
          }
        }
      }
    }
  }
}