{
  "openapi": "3.0.0",
  "info": {
    "title": "LinkedIn API",
    "description": "API for interacting with LinkedIn's professional network",
    "version": "1.0.0",
    "contact": {
      "name": "LinkedIn API Support",
      "url": "https://developer.linkedin.com/support",
      "email": "api-support@linkedin.com"
    }
  },
  "servers": [
    {
      "url": "https://api.linkedin.com/v2"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Get current user's profile",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "oauth2": [
              "r_liteprofile"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}": {
      "get": {
        "summary": "Get a member's profile",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "oauth2": [
              "r_basicprofile"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Member's LinkedIn ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/connections": {
      "get": {
        "summary": "Get user's connections",
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "oauth2": [
              "r_network"
            ]
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting index for pagination"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500
            },
            "description": "Number of results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Connection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/search": {
      "get": {
        "summary": "Search for jobs",
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "oauth2": [
              "r_jobsearch"
            ]
          }
        ],
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to search for"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Location to search in"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting index for pagination"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Number of results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "summary": "Get company profile",
        "tags": [
          "Companies"
        ],
        "security": [
          {
            "oauth2": [
              "r_org_profile"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company's LinkedIn ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/shares": {
      "post": {
        "summary": "Create a share",
        "tags": [
          "Shares"
        ],
        "security": [
          {
            "oauth2": [
              "w_member_social"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Share created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Share"
                }
              }
            }
          }
        }
      }
    },
    "/invitations": {
      "post": {
        "summary": "Send an invitation",
        "tags": [
          "Invitations"
        ],
        "security": [
          {
            "oauth2": [
              "w_member_social"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.linkedin.com/oauth/v2/authorization",
            "tokenUrl": "https://www.linkedin.com/oauth/v2/accessToken",
            "scopes": {
              "r_liteprofile": "Read basic profile",
              "r_basicprofile": "Read full profile",
              "r_network": "Read network",
              "r_jobsearch": "Read job search",
              "r_org_profile": "Read organization profile",
              "w_member_social": "Write member social actions"
            }
          }
        }
      }
    },
    "schemas": {
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string",
            "format": "uri"
          },
          "industry": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "city": {
                "type": "string"
              }
            }
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Position"
            }
          },
          "educations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Education"
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Education": {
        "type": "object",
        "properties": {
          "schoolName": {
            "type": "string"
          },
          "degree": {
            "type": "string"
          },
          "fieldOfStudy": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "postedDate": {
            "type": "string",
            "format": "date-time"
          },
          "applyUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "industry": {
            "type": "string"
          },
          "logo": {
            "type": "string",
            "format": "uri"
          },
          "employeeCount": {
            "type": "integer"
          },
          "specialties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ShareRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "object",
            "properties": {
              "contentEntities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "entityLocation": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "distribution": {
            "type": "object",
            "properties": {
              "linkedInDistributionTarget": {
                "type": "object"
              }
            }
          },
          "owner": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "Share": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "string"
          },
          "content": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      },
      "InvitationRequest": {
        "type": "object",
        "properties": {
          "invitee": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Invitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACCEPTED",
              "IGNORED"
            ]
          },
          "invitee": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}