{
  "openapi": "3.0.0",
  "info": {
    "title": "Mailgun API",
    "description": "The Mailgun API allows you to send, receive, and track emails, manage mailing lists, and more.",
    "version": "3.0",
    "contact": {
      "name": "Mailgun Support",
      "url": "https://help.mailgun.com",
      "email": "support@mailgun.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.mailgun.net/v3"
    }
  ],
  "paths": {
    "/{domain}/messages": {
      "post": {
        "summary": "Send a message",
        "description": "Sends an email message",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Sender email address"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient email address"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Message subject"
                  },
                  "text": {
                    "type": "string",
                    "description": "Message body in plain text"
                  },
                  "html": {
                    "type": "string",
                    "description": "Message body in HTML"
                  }
                },
                "required": [
                  "from",
                  "to",
                  "subject"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{domain}/events": {
      "get": {
        "summary": "Get events",
        "description": "Retrieves a list of events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain name"
          },
          {
            "name": "begin",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date for filtering events"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date for filtering events"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of events to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists": {
      "get": {
        "summary": "Get mailing lists",
        "description": "Retrieves a list of mailing lists",
        "tags": [
          "Mailing Lists"
        ],
        "responses": {
          "200": {
            "description": "List of mailing lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a mailing list",
        "description": "Creates a new mailing list",
        "tags": [
          "Mailing Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Mailing list email address"
                  },
                  "name": {
                    "type": "string",
                    "description": "Mailing list name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Mailing list description"
                  }
                },
                "required": [
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mailing list created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "list": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lists/{address}/members": {
      "get": {
        "summary": "Get list members",
        "description": "Retrieves members of a mailing list",
        "tags": [
          "Mailing Lists"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mailing list address"
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "subscribed": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add list member",
        "description": "Adds a new member to a mailing list",
        "tags": [
          "Mailing Lists"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mailing list address"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Member's email address"
                  },
                  "name": {
                    "type": "string",
                    "description": "Member's name"
                  },
                  "vars": {
                    "type": "string",
                    "description": "JSON-encoded string of custom variables"
                  }
                },
                "required": [
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "member": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "subscribed": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{domain}/tags": {
      "get": {
        "summary": "Get tags",
        "description": "Retrieves a list of tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain name"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tag": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{domain}/stats/total": {
      "get": {
        "summary": "Get stats",
        "description": "Retrieves account statistics",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain name"
          },
          {
            "name": "event",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "accepted",
                "delivered",
                "failed",
                "opened",
                "clicked"
              ]
            },
            "description": "Type of event to filter"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date for the statistics"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date for the statistics"
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "end": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "stats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "accepted": {
                            "type": "object",
                            "properties": {
                              "incoming": {
                                "type": "integer"
                              },
                              "outgoing": {
                                "type": "integer"
                              },
                              "total": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}