{
  "openapi": "3.0.0",
  "info": {
    "title": "Netflix API",
    "description": "API for interacting with Netflix streaming service",
    "version": "1.0.0",
    "contact": {
      "name": "Netflix API Support",
      "url": "https://help.netflix.com/en/node/101",
      "email": "api-support@netflix.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.netflix.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://api-staging.netflix.com/v1",
      "description": "Staging server"
    }
  ],
  "tags": [
    {
      "name": "authentication",
      "description": "Authentication operations"
    },
    {
      "name": "user",
      "description": "User account operations"
    },
    {
      "name": "content",
      "description": "Content-related operations"
    },
    {
      "name": "search",
      "description": "Search operations"
    },
    {
      "name": "watchlist",
      "description": "Watchlist operations"
    },
    {
      "name": "ratings",
      "description": "Rating operations"
    },
    {
      "name": "recommendations",
      "description": "Recommendation operations"
    },
    {
      "name": "streaming",
      "description": "Streaming-related operations"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Log in to Netflix",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Log out from Netflix",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful logout"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Update user profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/content/browse": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "Browse content",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by genre"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "series"
              ]
            },
            "description": "Filter by content type"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/content/{contentId}": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "Get content details",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the content"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Content"
                }
              }
            }
          },
          "404": {
            "description": "Content not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search for content",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "series",
                "actor",
                "director"
              ]
            },
            "description": "Filter by type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/watchlist": {
      "get": {
        "tags": [
          "watchlist"
        ],
        "summary": "Get user's watchlist",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watchlist"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "watchlist"
        ],
        "summary": "Add content to watchlist",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchlistItem"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Content added to watchlist"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/watchlist/{contentId}": {
      "delete": {
        "tags": [
          "watchlist"
        ],
        "summary": "Remove content from watchlist",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the content to remove"
          }
        ],
        "responses": {
          "204": {
            "description": "Content removed from watchlist"
          },
          "404": {
            "description": "Content not found in watchlist"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ratings": {
      "post": {
        "tags": [
          "ratings"
        ],
        "summary": "Rate content",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rating"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating submitted successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ratings/{contentId}": {
      "get": {
        "tags": [
          "ratings"
        ],
        "summary": "Get user's rating for content",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the content"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rating"
                }
              }
            }
          },
          "404": {
            "description": "Rating not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recommendations": {
      "get": {
        "tags": [
          "recommendations"
        ],
        "summary": "Get personalized recommendations",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of recommendations to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/streaming/play/{contentId}": {
      "get": {
        "tags": [
          "streaming"
        ],
        "summary": "Get streaming URL for content",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the content to stream"
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SD",
                "HD",
                "UHD"
              ]
            },
            "description": "Desired streaming quality"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingInfo"
                }
              }
            }
          },
          "404": {
            "description": "Content not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/streaming/continue/{contentId}": {
      "get": {
        "tags": [
          "streaming"
        ],
        "summary": "Get continue watching information",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the content"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinueWatching"
                }
              }
            }
          },
          "404": {
            "description": "Content not found or not watched"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "AuthToken": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "subscription_plan": {
            "type": "string"
          },
          "preferences": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "mature_content": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "UserProfileUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "preferences": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string"
              },
              "mature_content": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Content": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "series"
            ]
          },
          "description": {
            "type": "string"
          },
          "release_year": {
            "type": "integer"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cast": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "director": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "rating": {
            "type": "string"
          },
          "poster": {
            "type": "string"
          },
          "backdrop": {
            "type": "string"
          }
        }
      },
      "ContentList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Watchlist": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "WatchlistItem": {
        "type": "object",
        "required": [
          "content_id"
        ],
        "properties": {
          "content_id": {
            "type": "string"
          }
        }
      },
      "Rating": {
        "type": "object",
        "required": [
          "content_id",
          "rating"
        ],
        "properties": {
          "content_id": {
            "type": "string"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          }
        }
      },
      "StreamingInfo": {
        "type": "object",
        "properties": {
          "content_id": {
            "type": "string"
          },
          "stream_url": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContinueWatching": {
        "type": "object",
        "properties": {
          "content_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "series"
            ]
          },
          "season": {
            "type": "integer"
          },
          "episode": {
            "type": "integer"
          },
          "position": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "last_watched": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}