{
  "openapi": "3.0.0",
  "info": {
    "title": "Nvidia API",
    "description": "API for accessing Nvidia products, services, and corporate information",
    "version": "1.0.0",
    "contact": {
      "name": "Nvidia API Support",
      "url": "https://developer.nvidia.com/support",
      "email": "api-support@nvidia.com"
    }
  },
  "servers": [
    {
      "url": "https://api.nvidia.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Products",
      "description": "Endpoints related to Nvidia products"
    },
    {
      "name": "Services",
      "description": "Endpoints related to Nvidia services"
    },
    {
      "name": "Corporate",
      "description": "Endpoints related to corporate information"
    },
    {
      "name": "Support",
      "description": "Endpoints related to customer support"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "summary": "List all products",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "summary": "Get product details",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/drivers": {
      "get": {
        "summary": "List available drivers",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Driver"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geforce-now/games": {
      "get": {
        "summary": "List GeForce NOW games",
        "tags": [
          "Services"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geforce-now/servers": {
      "get": {
        "summary": "Get GeForce NOW server status",
        "tags": [
          "Services"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServerStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corporate/financials": {
      "get": {
        "summary": "Get financial reports",
        "tags": [
          "Corporate"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "quarter",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialReport"
                }
              }
            }
          }
        }
      }
    },
    "/corporate/press-releases": {
      "get": {
        "summary": "Get press releases",
        "tags": [
          "Corporate"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PressRelease"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/kb": {
      "get": {
        "summary": "Search knowledge base",
        "tags": [
          "Support"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KBArticle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/support/tickets": {
      "post": {
        "summary": "Create support ticket",
        "tags": [
          "Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportTicket"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ticket created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportTicket"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "specifications": {
            "type": "object"
          },
          "price": {
            "type": "number"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Driver": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          },
          "supportedProducts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "os": {
            "type": "string"
          },
          "downloadUrl": {
            "type": "string"
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "genre": {
            "type": "string"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ServerStatus": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "maintenance"
            ]
          },
          "latency": {
            "type": "number"
          },
          "capacity": {
            "type": "number"
          }
        }
      },
      "FinancialReport": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer"
          },
          "quarter": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "netIncome": {
            "type": "number"
          },
          "eps": {
            "type": "number"
          }
        }
      },
      "PressRelease": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "KBArticle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SupportTicket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "in_progress",
              "resolved",
              "closed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}