{
  "openapi": "3.0.0",
  "info": {
    "title": "PagerDuty API",
    "description": "API for interacting with PagerDuty's incident management platform",
    "version": "2.0.0",
    "contact": {
      "name": "PagerDuty Support",
      "url": "https://www.pagerduty.com/support/",
      "email": "support@pagerduty.com"
    }
  },
  "servers": [
    {
      "url": "https://api.pagerduty.com/",
      "description": "Production server"
    }
  ],
  "paths": {
    "/incidents": {
      "get": {
        "summary": "List incidents",
        "description": "Get a list of incidents",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter incidents by status",
            "schema": {
              "type": "string",
              "enum": [
                "triggered",
                "acknowledged",
                "resolved"
              ]
            }
          },
          {
            "name": "service_ids[]",
            "in": "query",
            "description": "Filter incidents by service IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an incident",
        "description": "Create a new incident",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Incident created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        }
      }
    },
    "/incidents/{id}": {
      "get": {
        "summary": "Get an incident",
        "description": "Get details of a specific incident",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an incident",
        "description": "Update a specific incident",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "summary": "List services",
        "description": "Get a list of services",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a service",
        "description": "Create a new service",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Service created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "summary": "List schedules",
        "description": "Get a list of schedules",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a schedule",
        "description": "Create a new schedule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Schedule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List users",
        "description": "Get a list of users",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a user",
        "description": "Create a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Incident": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "incident"
            ]
          },
          "summary": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "triggered",
              "acknowledged",
              "resolved"
            ]
          },
          "urgency": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "service": {
            "$ref": "#/components/schemas/ServiceReference"
          },
          "assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assignment"
            }
          }
        }
      },
      "IncidentList": {
        "type": "object",
        "properties": {
          "incidents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Incident"
            }
          }
        }
      },
      "IncidentCreate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "incident"
            ]
          },
          "title": {
            "type": "string"
          },
          "service": {
            "$ref": "#/components/schemas/ServiceReference"
          },
          "urgency": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ]
          },
          "body": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "incident_body"
                ]
              },
              "details": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "type",
          "title",
          "service"
        ]
      },
      "IncidentUpdate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "incident"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "acknowledged",
              "resolved"
            ]
          }
        },
        "required": [
          "type",
          "status"
        ]
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "service"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "warning",
              "critical",
              "maintenance",
              "disabled"
            ]
          }
        }
      },
      "ServiceList": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          }
        }
      },
      "ServiceCreate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "service"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "escalation_policy": {
            "$ref": "#/components/schemas/EscalationPolicyReference"
          }
        },
        "required": [
          "type",
          "name",
          "escalation_policy"
        ]
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "schedule"
            ]
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "time_zone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScheduleList": {
        "type": "object",
        "properties": {
          "schedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Schedule"
            }
          }
        }
      },
      "ScheduleCreate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "schedule"
            ]
          },
          "name": {
            "type": "string"
          },
          "time_zone": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "name",
          "time_zone"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "time_zone": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user",
              "limited_user",
              "observer"
            ]
          },
          "job_title": {
            "type": "string"
          }
        }
      },
      "UserList": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "user"
            ]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "time_zone": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user",
              "limited_user",
              "observer"
            ]
          }
        },
        "required": [
          "type",
          "name",
          "email"
        ]
      },
      "ServiceReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "service_reference"
            ]
          }
        }
      },
      "EscalationPolicyReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "escalation_policy_reference"
            ]
          }
        }
      },
      "Assignment": {
        "type": "object",
        "properties": {
          "assignee": {
            "$ref": "#/components/schemas/User"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}