{
  "openapi": "3.0.0",
  "info": {
    "title": "Palo Alto Networks API",
    "description": "API for managing Palo Alto Networks firewalls and security services",
    "version": "1.0.0",
    "contact": {
      "name": "Palo Alto Networks Support",
      "url": "https://www.paloaltonetworks.com/support",
      "email": "support@paloaltonetworks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.paloaltonetworks.com/v1"
    }
  ],
  "paths": {
    "/devices": {
      "get": {
        "summary": "List all devices",
        "description": "Retrieve a list of all managed devices",
        "operationId": "listDevices",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new device",
        "description": "Add a new device to the management system",
        "operationId": "addDevice",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Device created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      }
    },
    "/devices/{deviceId}": {
      "get": {
        "summary": "Get device details",
        "description": "Retrieve details of a specific device",
        "operationId": "getDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update device",
        "description": "Update details of a specific device",
        "operationId": "updateDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete device",
        "description": "Remove a device from the management system",
        "operationId": "deleteDevice",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Device deleted successfully"
          }
        }
      }
    },
    "/policies": {
      "get": {
        "summary": "List all policies",
        "description": "Retrieve a list of all security policies",
        "operationId": "listPolicies",
        "tags": [
          "Policies"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new policy",
        "description": "Create a new security policy",
        "operationId": "createPolicy",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        }
      }
    },
    "/policies/{policyId}": {
      "get": {
        "summary": "Get policy details",
        "description": "Retrieve details of a specific policy",
        "operationId": "getPolicy",
        "tags": [
          "Policies"
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update policy",
        "description": "Update details of a specific policy",
        "operationId": "updatePolicy",
        "tags": [
          "Policies"
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete policy",
        "description": "Remove a policy from the system",
        "operationId": "deletePolicy",
        "tags": [
          "Policies"
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Policy deleted successfully"
          }
        }
      }
    },
    "/threats": {
      "get": {
        "summary": "List threats",
        "description": "Retrieve a list of detected threats",
        "operationId": "listThreats",
        "tags": [
          "Threats"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Threat"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "summary": "Generate report",
        "description": "Generate a security report",
        "operationId": "generateReport",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "traffic",
                "threat",
                "url",
                "data"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "firmwareVersion": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "online",
              "offline",
              "maintenance"
            ]
          }
        }
      },
      "DeviceInput": {
        "type": "object",
        "required": [
          "name",
          "model",
          "serialNumber",
          "ipAddress"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          }
        }
      },
      "Policy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "security",
              "nat",
              "qos",
              "pbf"
            ]
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rule"
            }
          }
        }
      },
      "PolicyInput": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "security",
              "nat",
              "qos",
              "pbf"
            ]
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuleInput"
            }
          }
        }
      },
      "Rule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "drop"
            ]
          },
          "sourceZone": {
            "type": "string"
          },
          "destinationZone": {
            "type": "string"
          },
          "sourceAddress": {
            "type": "string"
          },
          "destinationAddress": {
            "type": "string"
          },
          "application": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        }
      },
      "RuleInput": {
        "type": "object",
        "required": [
          "name",
          "action",
          "sourceZone",
          "destinationZone"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "action": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "drop"
            ]
          },
          "sourceZone": {
            "type": "string"
          },
          "destinationZone": {
            "type": "string"
          },
          "sourceAddress": {
            "type": "string"
          },
          "destinationAddress": {
            "type": "string"
          },
          "application": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        }
      },
      "Threat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "virus",
              "spyware",
              "vulnerability",
              "wildfire"
            ]
          },
          "severity": {
            "type": "string",
            "enum": [
              "critical",
              "high",
              "medium",
              "low",
              "informational"
            ]
          },
          "sourceIp": {
            "type": "string"
          },
          "destinationIp": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "traffic",
              "threat",
              "url",
              "data"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "APIKey": []
    }
  ]
}