{
  "openapi": "3.0.0",
  "info": {
    "title": "Pinterest API",
    "description": "The Pinterest API allows developers to access and integrate Pinterest functionality into their applications.",
    "version": "5.0.0",
    "contact": {
      "name": "Pinterest Developer Support",
      "url": "https://developers.pinterest.com/support/",
      "email": "api-support@pinterest.com"
    },
    "license": {
      "name": "Pinterest API Terms of Service",
      "url": "https://developers.pinterest.com/terms/"
    }
  },
  "servers": [
    {
      "url": "https://api.pinterest.com/v5"
    }
  ],
  "tags": [
    {
      "name": "Pins",
      "description": "Operations related to Pins"
    },
    {
      "name": "Boards",
      "description": "Operations related to Boards"
    },
    {
      "name": "Users",
      "description": "Operations related to Users"
    },
    {
      "name": "Search",
      "description": "Search operations"
    },
    {
      "name": "Analytics",
      "description": "Analytics operations"
    }
  ],
  "paths": {
    "/v5/pins": {
      "post": {
        "summary": "Create Pin",
        "tags": [
          "Pins"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pin created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pin"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "pins:write"
            ]
          }
        ]
      },
      "get": {
        "summary": "Get Pins",
        "tags": [
          "Pins"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "board_id",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the board"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "Maximum number of items to return"
          },
          {
            "in": "query",
            "name": "bookmark",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for next page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pin"
                      }
                    },
                    "bookmark": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "pins:read"
            ]
          }
        ]
      }
    },
    "/v5/pins/{pin_id}": {
      "get": {
        "summary": "Get Pin",
        "tags": [
          "Pins"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pin_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the Pin"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pin"
                }
              }
            }
          },
          "404": {
            "description": "Pin not found"
          }
        },
        "security": [
          {
            "oauth2": [
              "pins:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update Pin",
        "tags": [
          "Pins"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pin_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the Pin"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pin updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pin"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Pin not found"
          }
        },
        "security": [
          {
            "oauth2": [
              "pins:write"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete Pin",
        "tags": [
          "Pins"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pin_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the Pin"
          }
        ],
        "responses": {
          "204": {
            "description": "Pin deleted successfully"
          },
          "404": {
            "description": "Pin not found"
          }
        },
        "security": [
          {
            "oauth2": [
              "pins:write"
            ]
          }
        ]
      }
    },
    "/v5/boards": {
      "post": {
        "summary": "Create Board",
        "tags": [
          "Boards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Board created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "boards:write"
            ]
          }
        ]
      },
      "get": {
        "summary": "Get Boards",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "Maximum number of items to return"
          },
          {
            "in": "query",
            "name": "bookmark",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for next page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Board"
                      }
                    },
                    "bookmark": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "boards:read"
            ]
          }
        ]
      }
    },
    "/v5/boards/{board_id}": {
      "get": {
        "summary": "Get Board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the Board"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "404": {
            "description": "Board not found"
          }
        },
        "security": [
          {
            "oauth2": [
              "boards:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update Board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the Board"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Board updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Board not found"
          }
        },
        "security": [
          {
            "oauth2": [
              "boards:write"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete Board",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the Board"
          }
        ],
        "responses": {
          "204": {
            "description": "Board deleted successfully"
          },
          "404": {
            "description": "Board not found"
          }
        },
        "security": [
          {
            "oauth2": [
              "boards:write"
            ]
          }
        ]
      }
    },
    "/v5/user_account": {
      "get": {
        "summary": "Get User Account",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "user_accounts:read"
            ]
          }
        ]
      }
    },
    "/v5/search": {
      "get": {
        "summary": "Search",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "pin",
                "board"
              ]
            },
            "description": "Type of content to search for"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "Maximum number of items to return"
          },
          {
            "in": "query",
            "name": "bookmark",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for next page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/Pin"
                          },
                          {
                            "$ref": "#/components/schemas/Board"
                          }
                        ]
                      }
                    },
                    "bookmark": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "oauth2": [
              "read_public"
            ]
          }
        ]
      }
    },
    "/v5/user_account/analytics": {
      "get": {
        "summary": "Get User Analytics",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "start_date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for analytics data"
          },
          {
            "in": "query",
            "name": "end_date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for analytics data"
          },
          {
            "in": "query",
            "name": "metric_types",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IMPRESSION",
                  "SAVE",
                  "PIN_CLICK",
                  "OUTBOUND_CLICK"
                ]
              }
            },
            "description": "Types of metrics to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "user_accounts:read_analytics"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Pin": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dominant_color": {
            "type": "string"
          },
          "alt_text": {
            "type": "string"
          },
          "board_id": {
            "type": "string"
          },
          "board_section_id": {
            "type": "string"
          },
          "media": {
            "type": "object",
            "properties": {
              "media_type": {
                "type": "string",
                "enum": [
                  "image",
                  "video"
                ]
              },
              "images": {
                "type": "object",
                "properties": {
                  "original": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          }
        }
      },
      "PinCreate": {
        "type": "object",
        "required": [
          "board_id",
          "media_source"
        ],
        "properties": {
          "board_id": {
            "type": "string"
          },
          "media_source": {
            "type": "object",
            "properties": {
              "source_type": {
                "type": "string",
                "enum": [
                  "image_url",
                  "image_base64",
                  "video_url"
                ]
              },
              "content_type": {
                "type": "string"
              },
              "data": {
                "type": "string"
              }
            }
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "alt_text": {
            "type": "string"
          },
          "board_section_id": {
            "type": "string"
          }
        }
      },
      "PinUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "alt_text": {
            "type": "string"
          },
          "board_id": {
            "type": "string"
          },
          "board_section_id": {
            "type": "string"
          }
        }
      },
      "Board": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/User"
          },
          "privacy": {
            "type": "string",
            "enum": [
              "PUBLIC",
              "PROTECTED",
              "SECRET"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "pin_count": {
            "type": "integer"
          },
          "follower_count": {
            "type": "integer"
          },
          "collaborator_count": {
            "type": "integer"
          }
        }
      },
      "BoardCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "privacy": {
            "type": "string",
            "enum": [
              "PUBLIC",
              "SECRET"
            ]
          }
        }
      },
      "BoardUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "privacy": {
            "type": "string",
            "enum": [
              "PUBLIC",
              "SECRET"
            ]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        }
      },
      "Analytics": {
        "type": "object",
        "properties": {
          "daily_metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "metrics": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.pinterest.com/oauth/",
            "tokenUrl": "https://api.pinterest.com/v5/oauth/token",
            "scopes": {
              "pins:read": "Read Pins",
              "pins:write": "Write Pins",
              "boards:read": "Read Boards",
              "boards:write": "Write Boards",
              "user_accounts:read": "Read User Accounts",
              "user_accounts:read_analytics": "Read User Analytics",
              "read_public": "Read Public Data"
            }
          }
        }
      }
    }
  }
}