{
  "openapi": "3.0.0",
  "info": {
    "title": "Qualcomm API",
    "description": "API for accessing Qualcomm product information, technologies, and business data",
    "version": "1.0.0",
    "contact": {
      "name": "Qualcomm API Support",
      "url": "https://www.qualcomm.com/support",
      "email": "api-support@qualcomm.com"
    }
  },
  "servers": [
    {
      "url": "https://api.qualcomm.com/v1"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "summary": "List all products",
        "description": "Retrieve a list of all Qualcomm products",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter products by category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "summary": "Get product details",
        "description": "Retrieve details for a specific product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "ID of the product to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/technologies": {
      "get": {
        "summary": "List all technologies",
        "description": "Retrieve a list of all Qualcomm technologies",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter technologies by category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Technology"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/technologies/{technologyId}": {
      "get": {
        "summary": "Get technology details",
        "description": "Retrieve details for a specific technology",
        "parameters": [
          {
            "name": "technologyId",
            "in": "path",
            "required": true,
            "description": "ID of the technology to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Technology"
                }
              }
            }
          },
          "404": {
            "description": "Technology not found"
          }
        }
      }
    },
    "/investors/financial-reports": {
      "get": {
        "summary": "List financial reports",
        "description": "Retrieve a list of Qualcomm's financial reports",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Filter reports by year",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "quarter",
            "in": "query",
            "description": "Filter reports by quarter",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/investors/stock-price": {
      "get": {
        "summary": "Get current stock price",
        "description": "Retrieve the current stock price for Qualcomm",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockPrice"
                }
              }
            }
          }
        }
      }
    },
    "/partners": {
      "get": {
        "summary": "List partners",
        "description": "Retrieve a list of Qualcomm's partners",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter partners by type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Partner"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "specifications": {
            "type": "object"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Technology": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FinancialReport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "quarter": {
            "type": "integer"
          },
          "revenue": {
            "type": "number"
          },
          "netIncome": {
            "type": "number"
          },
          "eps": {
            "type": "number"
          },
          "reportUrl": {
            "type": "string"
          }
        }
      },
      "StockPrice": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "change": {
            "type": "number"
          },
          "changePercent": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Partner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        }
      }
    }
  }
}