{
  "openapi": "3.0.0",
  "info": {
    "title": "Reddit API",
    "description": "API for interacting with Reddit",
    "version": "1.0.0",
    "contact": {
      "name": "Reddit API Support",
      "url": "https://www.reddit.com/dev/api"
    }
  },
  "servers": [
    {
      "url": "https://oauth.reddit.com/api/v1"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Get information about the authenticated user",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "identity"
            ]
          }
        ]
      }
    },
    "/subreddits/search": {
      "get": {
        "summary": "Search for subreddits",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subreddit"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/subreddits/{subreddit}/about": {
      "get": {
        "summary": "Get information about a subreddit",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "description": "Name of the subreddit",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subreddit"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/r/{subreddit}/submit": {
      "post": {
        "summary": "Submit a new post to a subreddit",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "description": "Name of the subreddit",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the post"
                  },
                  "text": {
                    "type": "string",
                    "description": "Text content of the post"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for link posts"
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "self",
                      "link"
                    ],
                    "description": "Type of post"
                  }
                },
                "required": [
                  "title",
                  "kind"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "submit"
            ]
          }
        ]
      }
    },
    "/comments/{article}": {
      "get": {
        "summary": "Get comments for a post",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "ID of the post",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for comments",
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "new",
                "controversial",
                "old",
                "qa"
              ],
              "default": "top"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/vote": {
      "post": {
        "summary": "Vote on a post or comment",
        "tags": [
          "Voting"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Full name of the post or comment"
                  },
                  "dir": {
                    "type": "integer",
                    "enum": [
                      -1,
                      0,
                      1
                    ],
                    "description": "Vote direction (-1 for downvote, 0 for no vote, 1 for upvote)"
                  }
                },
                "required": [
                  "id",
                  "dir"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "oauth2": [
              "vote"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_utc": {
            "type": "number"
          },
          "link_karma": {
            "type": "integer"
          },
          "comment_karma": {
            "type": "integer"
          }
        }
      },
      "Subreddit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "subscribers": {
            "type": "integer"
          },
          "created_utc": {
            "type": "number"
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "subreddit": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "created_utc": {
            "type": "number"
          },
          "num_comments": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "selftext": {
            "type": "string"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "created_utc": {
            "type": "number"
          },
          "parent_id": {
            "type": "string"
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.reddit.com/api/v1/authorize",
            "tokenUrl": "https://www.reddit.com/api/v1/access_token",
            "scopes": {
              "identity": "Access your identity",
              "read": "Read content",
              "submit": "Submit content",
              "vote": "Vote on content"
            }
          }
        }
      }
    }
  }
}