{
  "openapi": "3.0.0",
  "info": {
    "title": "RingCentral API",
    "description": "The RingCentral API allows you to integrate RingCentral's communication services into your applications.",
    "version": "1.0.0",
    "contact": {
      "name": "RingCentral Developer Support",
      "url": "https://developers.ringcentral.com",
      "email": "devsupport@ringcentral.com"
    }
  },
  "servers": [
    {
      "url": "https://platform.ringcentral.com/restapi/v1.0"
    }
  ],
  "paths": {
    "/account/{accountId}": {
      "get": {
        "summary": "Get Account Info",
        "description": "Returns account information by ID",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/account/{accountId}/extension": {
      "get": {
        "summary": "List Extensions",
        "description": "Returns a list of extensions for the specified account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extension"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/{accountId}/extension/{extensionId}": {
      "get": {
        "summary": "Get Extension Info",
        "description": "Returns extension information by ID",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extension"
                }
              }
            }
          }
        }
      }
    },
    "/account/{accountId}/extension/{extensionId}/message-store": {
      "get": {
        "summary": "List Messages",
        "description": "Returns a list of messages for the specified extension",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/{accountId}/extension/{extensionId}/call-log": {
      "get": {
        "summary": "Get Call Log",
        "description": "Returns call log records for the specified extension",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallLogRecord"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/{accountId}/extension/{extensionId}/phone-number": {
      "get": {
        "summary": "Get Phone Numbers",
        "description": "Returns a list of phone numbers assigned to the extension",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extensionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "mainNumber": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "Active",
              "Suspended",
              "Closed"
            ]
          },
          "serviceInfo": {
            "type": "object",
            "properties": {
              "brand": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "servicePlan": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Extension": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "extensionNumber": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "User",
              "Department",
              "AnnounceOnly",
              "Voicemail",
              "SharedLinesGroup",
              "PagingOnly",
              "IvrMenu",
              "ApplicationExtension",
              "ParkLocation"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Enabled",
              "Disabled",
              "NotActivated",
              "Unassigned"
            ]
          },
          "name": {
            "type": "string"
          },
          "contact": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "businessPhone": {
                "type": "string"
              },
              "mobilePhone": {
                "type": "string"
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Fax",
              "SMS",
              "VoiceMail",
              "Pager"
            ]
          },
          "from": {
            "type": "object",
            "properties": {
              "phoneNumber": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "to": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "subject": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          "readStatus": {
            "type": "string",
            "enum": [
              "Read",
              "Unread"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "Normal",
              "High"
            ]
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "uri": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "contentType": {
                  "type": "string"
                },
                "size": {
                  "type": "integer"
                }
              }
            }
          },
          "creationTime": {
            "type": "string",
            "format": "date-time"
          },
          "lastModifiedTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CallLogRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          },
          "from": {
            "type": "object",
            "properties": {
              "phoneNumber": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "to": {
            "type": "object",
            "properties": {
              "phoneNumber": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "Voice",
              "Fax"
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "Inbound",
              "Outbound"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "Phone Call",
              "Phone Login",
              "Incoming Fax",
              "Accept Call",
              "FindMe",
              "FollowMe",
              "Outgoing Fax",
              "Call Return",
              "Calling Card",
              "Ring Directly",
              "RingOut Web",
              "VoIP Call",
              "RingOut PC",
              "RingMe",
              "Transfer",
              "Internal Call",
              "Other"
            ]
          },
          "result": {
            "type": "string",
            "enum": [
              "Accepted",
              "Call connected",
              "Voicemail",
              "Rejected",
              "Missed",
              "Busy",
              "No Answer",
              "Hang Up",
              "Blocked",
              "Suspended account",
              "Call Failed",
              "System Failure",
              "Other"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "recording": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "uri": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "contentUri": {
                "type": "string"
              }
            }
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "VoiceFax",
              "FaxOnly",
              "VoiceOnly"
            ]
          },
          "usageType": {
            "type": "string",
            "enum": [
              "MainCompanyNumber",
              "AdditionalCompanyNumber",
              "DirectNumber",
              "CompanyFaxNumber",
              "ForwardedNumber"
            ]
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CallerId",
                "SmsSender",
                "MmsSender",
                "InternationalSmsSender",
                "InternationalMmsSender"
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://platform.ringcentral.com/restapi/oauth/authorize",
            "tokenUrl": "https://platform.ringcentral.com/restapi/oauth/token",
            "scopes": {
              "ReadAccounts": "Read account information",
              "ReadCallLog": "Read call log data",
              "ReadContacts": "Read user contacts",
              "ReadMessages": "Read user messages",
              "ReadPresence": "Read user presence information",
              "EditExtensions": "Update user extensions",
              "EditMessages": "Update user messages",
              "EditPresence": "Update user presence",
              "Faxes": "Send faxes",
              "InternalMessages": "Send internal messages",
              "Meetings": "Create and manage meetings",
              "RingOut": "Make calls on behalf of user",
              "SMS": "Send SMS messages",
              "VoipCalling": "Make VoIP calls"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}