{
  "openapi": "3.0.0",
  "info": {
    "title": "Slack API",
    "description": "API for interacting with Slack workspaces, channels, and messages",
    "version": "1.0.0",
    "contact": {
      "name": "Slack API Support",
      "url": "https://api.slack.com/support",
      "email": "api@slack.com"
    }
  },
  "servers": [
    {
      "url": "https://slack.com/api"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Authentication and authorization"
    },
    {
      "name": "channels",
      "description": "Operations related to channels"
    },
    {
      "name": "chat",
      "description": "Sending and managing messages"
    },
    {
      "name": "users",
      "description": "User management and information"
    },
    {
      "name": "files",
      "description": "File upload and management"
    },
    {
      "name": "teams",
      "description": "Team information and settings"
    }
  ],
  "paths": {
    "/auth.test": {
      "get": {
        "summary": "Test authentication",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTestResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": []
          }
        ]
      }
    },
    "/channels.list": {
      "get": {
        "summary": "List channels",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "name": "exclude_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": []
          }
        ]
      }
    },
    "/chat.postMessage": {
      "post": {
        "summary": "Post a message to a channel",
        "tags": [
          "chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": []
          }
        ]
      }
    },
    "/users.list": {
      "get": {
        "summary": "List users in a workspace",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": []
          }
        ]
      }
    },
    "/files.upload": {
      "post": {
        "summary": "Upload a file",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": []
          }
        ]
      }
    },
    "/team.info": {
      "get": {
        "summary": "Get team information",
        "tags": [
          "teams"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamInfoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "slackAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AuthTestResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "team": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        }
      },
      "ChannelsListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "is_channel": {
            "type": "boolean"
          },
          "created": {
            "type": "integer"
          },
          "creator": {
            "type": "string"
          },
          "is_archived": {
            "type": "boolean"
          },
          "is_general": {
            "type": "boolean"
          },
          "members": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "topic": {
            "$ref": "#/components/schemas/ChannelTopic"
          },
          "purpose": {
            "$ref": "#/components/schemas/ChannelPurpose"
          }
        }
      },
      "ChannelTopic": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "last_set": {
            "type": "integer"
          }
        }
      },
      "ChannelPurpose": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "last_set": {
            "type": "integer"
          }
        }
      },
      "PostMessageRequest": {
        "type": "object",
        "required": [
          "channel",
          "text"
        ],
        "properties": {
          "channel": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "as_user": {
            "type": "boolean"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "blocks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Block"
            }
          },
          "thread_ts": {
            "type": "string"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "fallback": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "pretext": {
            "type": "string"
          },
          "author_name": {
            "type": "string"
          },
          "author_link": {
            "type": "string"
          },
          "author_icon": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "title_link": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachmentField"
            }
          },
          "image_url": {
            "type": "string"
          },
          "thumb_url": {
            "type": "string"
          },
          "footer": {
            "type": "string"
          },
          "footer_icon": {
            "type": "string"
          },
          "ts": {
            "type": "integer"
          }
        }
      },
      "AttachmentField": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "short": {
            "type": "boolean"
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "text": {
            "$ref": "#/components/schemas/TextObject"
          },
          "accessory": {
            "$ref": "#/components/schemas/BlockElement"
          },
          "elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlockElement"
            }
          }
        }
      },
      "TextObject": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "plain_text",
              "mrkdwn"
            ]
          },
          "text": {
            "type": "string"
          },
          "emoji": {
            "type": "boolean"
          },
          "verbatim": {
            "type": "boolean"
          }
        }
      },
      "BlockElement": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        }
      },
      "PostMessageResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "channel": {
            "type": "string"
          },
          "ts": {
            "type": "string"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "subtype": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "ts": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "bot_id": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "blocks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Block"
            }
          }
        }
      },
      "UsersListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "cache_ts": {
            "type": "integer"
          },
          "response_metadata": {
            "type": "object",
            "properties": {
              "next_cursor": {
                "type": "string"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "color": {
            "type": "string"
          },
          "real_name": {
            "type": "string"
          },
          "tz": {
            "type": "string"
          },
          "tz_label": {
            "type": "string"
          },
          "tz_offset": {
            "type": "integer"
          },
          "profile": {
            "$ref": "#/components/schemas/UserProfile"
          },
          "is_admin": {
            "type": "boolean"
          },
          "is_owner": {
            "type": "boolean"
          },
          "is_primary_owner": {
            "type": "boolean"
          },
          "is_restricted": {
            "type": "boolean"
          },
          "is_ultra_restricted": {
            "type": "boolean"
          },
          "is_bot": {
            "type": "boolean"
          },
          "updated": {
            "type": "integer"
          },
          "is_app_user": {
            "type": "boolean"
          },
          "has_2fa": {
            "type": "boolean"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "avatar_hash": {
            "type": "string"
          },
          "status_text": {
            "type": "string"
          },
          "status_emoji": {
            "type": "string"
          },
          "real_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "real_name_normalized": {
            "type": "string"
          },
          "display_name_normalized": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "image_24": {
            "type": "string"
          },
          "image_32": {
            "type": "string"
          },
          "image_48": {
            "type": "string"
          },
          "image_72": {
            "type": "string"
          },
          "image_192": {
            "type": "string"
          },
          "image_512": {
            "type": "string"
          },
          "team": {
            "type": "string"
          }
        }
      },
      "FileUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary"
          },
          "filename": {
            "type": "string"
          },
          "initial_comment": {
            "type": "string"
          },
          "channels": {
            "type": "string"
          }
        }
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "file": {
            "$ref": "#/components/schemas/File"
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "mimetype": {
            "type": "string"
          },
          "filetype": {
            "type": "string"
          },
          "pretty_type": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "editable": {
            "type": "boolean"
          },
          "size": {
            "type": "integer"
          },
          "mode": {
            "type": "string"
          },
          "is_external": {
            "type": "boolean"
          },
          "external_type": {
            "type": "string"
          },
          "is_public": {
            "type": "boolean"
          },
          "public_url_shared": {
            "type": "boolean"
          },
          "display_as_bot": {
            "type": "boolean"
          },
          "username": {
            "type": "string"
          },
          "url_private": {
            "type": "string"
          },
          "url_private_download": {
            "type": "string"
          },
          "thumb_64": {
            "type": "string"
          },
          "thumb_80": {
            "type": "string"
          },
          "thumb_360": {
            "type": "string"
          },
          "thumb_360_w": {
            "type": "integer"
          },
          "thumb_360_h": {
            "type": "integer"
          },
          "thumb_480": {
            "type": "string"
          },
          "thumb_480_w": {
            "type": "integer"
          },
          "thumb_480_h": {
            "type": "integer"
          },
          "thumb_160": {
            "type": "string"
          },
          "permalink": {
            "type": "string"
          },
          "permalink_public": {
            "type": "string"
          },
          "edit_link": {
            "type": "string"
          },
          "preview": {
            "type": "string"
          },
          "preview_highlight": {
            "type": "string"
          },
          "lines": {
            "type": "integer"
          },
          "lines_more": {
            "type": "integer"
          },
          "is_starred": {
            "type": "boolean"
          },
          "has_rich_preview": {
            "type": "boolean"
          }
        }
      },
      "TeamInfoResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "team": {
            "$ref": "#/components/schemas/Team"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "email_domain": {
            "type": "string"
          },
          "icon": {
            "$ref": "#/components/schemas/TeamIcon"
          }
        }
      },
      "TeamIcon": {
        "type": "object",
        "properties": {
          "image_34": {
            "type": "string"
          },
          "image_44": {
            "type": "string"
          },
          "image_68": {
            "type": "string"
          },
          "image_88": {
            "type": "string"
          },
          "image_102": {
            "type": "string"
          },
          "image_132": {
            "type": "string"
          },
          "image_230": {
            "type": "string"
          },
          "image_original": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "slackAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}