{
  "openapi": "3.0.0",
  "info": {
    "title": "Smartsheet API",
    "description": "API for interacting with Smartsheet, a work execution platform",
    "version": "2.0.0",
    "contact": {
      "name": "Smartsheet Support",
      "url": "https://www.smartsheet.com/contact",
      "email": "api@smartsheet.com"
    }
  },
  "servers": [
    {
      "url": "https://api.smartsheet.com/2.0"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/sheets": {
      "get": {
        "summary": "List Sheets",
        "description": "Gets a list of sheets",
        "operationId": "listSheets",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "description": "Return only sheets modified since this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSheetList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Sheet",
        "description": "Creates a new sheet",
        "operationId": "createSheet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SheetCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sheet"
                }
              }
            }
          }
        }
      }
    },
    "/sheets/{sheetId}": {
      "get": {
        "summary": "Get Sheet",
        "description": "Gets the specified sheet",
        "operationId": "getSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sheet"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Sheet",
        "description": "Updates the specified sheet",
        "operationId": "updateSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SheetUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sheet"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Sheet",
        "description": "Deletes the specified sheet",
        "operationId": "deleteSheet",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sheets/{sheetId}/rows": {
      "get": {
        "summary": "List Rows",
        "description": "Gets the rows for the specified sheet",
        "operationId": "listRows",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of optional elements to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Rows",
        "description": "Inserts one or more rows into the sheet",
        "operationId": "addRows",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Row"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowList"
                }
              }
            }
          }
        }
      }
    },
    "/sheets/{sheetId}/rows/{rowId}": {
      "get": {
        "summary": "Get Row",
        "description": "Gets the specified row",
        "operationId": "getRow",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Row"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Row",
        "description": "Updates the specified row",
        "operationId": "updateRow",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Row"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Row"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Row",
        "description": "Deletes the specified row",
        "operationId": "deleteRow",
        "parameters": [
          {
            "name": "sheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaginatedSheetList": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "totalCount": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sheet"
            }
          }
        }
      },
      "Sheet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "accessLevel": {
            "type": "string"
          },
          "permalink": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SheetCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Column"
            }
          }
        }
      },
      "SheetUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Column": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "TEXT_NUMBER",
              "DATE",
              "CHECKBOX",
              "CONTACT_LIST",
              "PICKLIST"
            ]
          },
          "primary": {
            "type": "boolean"
          }
        }
      },
      "RowList": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Row"
            }
          }
        }
      },
      "Row": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "rowNumber": {
            "type": "integer"
          },
          "expanded": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "cells": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cell"
            }
          }
        }
      },
      "Cell": {
        "type": "object",
        "properties": {
          "columnId": {
            "type": "integer",
            "format": "int64"
          },
          "value": {
            "type": "string"
          },
          "displayValue": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "resultCode": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}