{
  "openapi": "3.0.0",
  "info": {
    "title": "Spotify API",
    "description": "The Spotify Web API allows developers to access and control Spotify's streaming service.",
    "version": "1.0.0",
    "contact": {
      "name": "Spotify Developer Support",
      "url": "https://developer.spotify.com/support"
    }
  },
  "servers": [
    {
      "url": "https://api.spotify.com/v1"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/albums/{id}": {
      "get": {
        "summary": "Get an Album",
        "description": "Get Spotify catalog information for a single album.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Spotify ID of the album."
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An ISO 3166-1 alpha-2 country code."
          }
        ],
        "responses": {
          "200": {
            "description": "Album object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          }
        }
      }
    },
    "/albums": {
      "get": {
        "summary": "Get Several Albums",
        "description": "Get Spotify catalog information for multiple albums identified by their Spotify IDs.",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of the Spotify IDs for the albums."
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An ISO 3166-1 alpha-2 country code."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of album objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "albums": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Album"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/albums/{id}/tracks": {
      "get": {
        "summary": "Get Album Tracks",
        "description": "Get Spotify catalog information about an album's tracks.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Spotify ID of the album."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "The maximum number of tracks to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "The index of the first track to return."
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An ISO 3166-1 alpha-2 country code."
          }
        ],
        "responses": {
          "200": {
            "description": "A paging object containing track objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paging"
                }
              }
            }
          }
        }
      }
    },
    "/artists/{id}": {
      "get": {
        "summary": "Get an Artist",
        "description": "Get Spotify catalog information for a single artist identified by their unique Spotify ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Spotify ID of the artist."
          }
        ],
        "responses": {
          "200": {
            "description": "Artist object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          }
        }
      }
    },
    "/artists": {
      "get": {
        "summary": "Get Several Artists",
        "description": "Get Spotify catalog information for several artists based on their Spotify IDs.",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of the Spotify IDs for the artists."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of artist objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Artist"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/artists/{id}/albums": {
      "get": {
        "summary": "Get an Artist's Albums",
        "description": "Get Spotify catalog information about an artist's albums.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Spotify ID of the artist."
          },
          {
            "name": "include_groups",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of keywords that will be used to filter the response."
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An ISO 3166-1 alpha-2 country code."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "The maximum number of items to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "The index of the first item to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A paging object containing album objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paging"
                }
              }
            }
          }
        }
      }
    },
    "/tracks/{id}": {
      "get": {
        "summary": "Get a Track",
        "description": "Get Spotify catalog information for a single track identified by its unique Spotify ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Spotify ID of the track."
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An ISO 3166-1 alpha-2 country code."
          }
        ],
        "responses": {
          "200": {
            "description": "Track object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Track"
                }
              }
            }
          }
        }
      }
    },
    "/tracks": {
      "get": {
        "summary": "Get Several Tracks",
        "description": "Get Spotify catalog information for multiple tracks based on their Spotify IDs.",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of the Spotify IDs for the tracks."
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An ISO 3166-1 alpha-2 country code."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of track objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tracks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Track"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "Search for Item",
        "description": "Get Spotify catalog information about artists, albums, tracks or playlists that match a keyword string.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query keywords and optional field filters and operators."
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of item types to search across."
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An ISO 3166-1 alpha-2 country code."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "The maximum number of results to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "The index of the first result to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get Current User's Profile",
        "description": "Get detailed profile information about the current user.",
        "responses": {
          "200": {
            "description": "User object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/me/playlists": {
      "get": {
        "summary": "Get Current User's Playlists",
        "description": "Get a list of the playlists owned or followed by the current Spotify user.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "The maximum number of playlists to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "The index of the first playlist to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A paging object of playlist objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paging"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/playlists": {
      "get": {
        "summary": "Get User's Playlists",
        "description": "Get a list of the playlists owned or followed by a Spotify user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's Spotify user ID."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "The maximum number of playlists to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "The index of the first playlist to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A paging object of playlist objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paging"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Playlist",
        "description": "Create a playlist for a Spotify user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user's Spotify user ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name for the new playlist."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "Whether the playlist should be public."
                  },
                  "collaborative": {
                    "type": "boolean",
                    "description": "Whether the playlist should be collaborative."
                  },
                  "description": {
                    "type": "string",
                    "description": "The playlist description."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Playlist object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "artists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Artist"
            }
          },
          "tracks": {
            "$ref": "#/components/schemas/Paging"
          },
          "release_date": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "popularity": {
            "type": "integer"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "artists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Artist"
            }
          },
          "album": {
            "$ref": "#/components/schemas/Album"
          },
          "duration_ms": {
            "type": "integer"
          },
          "popularity": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "country": {
            "type": "string"
          },
          "product": {
            "type": "string"
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/User"
          },
          "public": {
            "type": "boolean"
          },
          "collaborative": {
            "type": "boolean"
          },
          "tracks": {
            "$ref": "#/components/schemas/Paging"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "limit": {
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "offset": {
            "type": "integer"
          },
          "previous": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "tracks": {
            "$ref": "#/components/schemas/Paging"
          },
          "artists": {
            "$ref": "#/components/schemas/Paging"
          },
          "albums": {
            "$ref": "#/components/schemas/Paging"
          },
          "playlists": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.spotify.com/authorize",
            "tokenUrl": "https://accounts.spotify.com/api/token",
            "scopes": {
              "user-read-private": "Read access to user's private information",
              "user-read-email": "Read access to user's email address",
              "playlist-read-private": "Read access to user's private playlists",
              "playlist-modify-public": "Write access to user's public playlists",
              "playlist-modify-private": "Write access to user's private playlists"
            }
          }
        }
      }
    }
  }
}