{
  "openapi": "3.0.0",
  "info": {
    "title": "Yelp Fusion API",
    "description": "The Yelp Fusion API allows you to get the best local content and user reviews from millions of businesses across 32 countries.",
    "version": "v3",
    "termsOfService": "https://www.yelp.com/developers/api_terms",
    "contact": {
      "name": "Yelp API Support",
      "url": "https://www.yelp.com/developers/support",
      "email": "api@yelp.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.yelp.com/v3"
    }
  ],
  "paths": {
    "/businesses/search": {
      "get": {
        "summary": "Search for businesses",
        "description": "This endpoint returns up to 1000 businesses based on the provided search criteria.",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term (e.g. 'food', 'restaurants')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The location to search for businesses",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude of the location",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude of the location",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in meters",
            "schema": {
              "type": "integer",
              "maximum": 40000
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Categories to filter the search results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of business results to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset the list of returned business results",
            "schema": {
              "type": "integer",
              "default": 0,
              "maximum": 1000
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the results by one of the these modes: best_match, rating, review_count or distance",
            "schema": {
              "type": "string",
              "enum": [
                "best_match",
                "rating",
                "review_count",
                "distance"
              ],
              "default": "best_match"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "Pricing levels to filter the search result",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4"
              ]
            }
          },
          {
            "name": "open_now",
            "in": "query",
            "description": "Filter for businesses open now",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "open_at",
            "in": "query",
            "description": "Filter for businesses open at a certain time",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Additional filters to search businesses",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/businesses/{id}": {
      "get": {
        "summary": "Get business details",
        "description": "This endpoint returns detailed business content for a given business alias or ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The business ID or alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Business not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/businesses/{id}/reviews": {
      "get": {
        "summary": "Get business reviews",
        "description": "This endpoint returns up to three review excerpts for a given business.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The business ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale to return the reviews in",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Business not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/autocomplete": {
      "get": {
        "summary": "Autocomplete",
        "description": "This endpoint returns autocomplete suggestions for search keywords, businesses and categories.",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "Text to autocomplete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude of the location",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude of the location",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale to return the autocomplete results in",
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutocompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {
      "BusinessSearchResponse": {
        "type": "object",
        "properties": {
          "businesses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Business"
            }
          },
          "total": {
            "type": "integer"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "is_closed": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "review_count": {
            "type": "integer"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "rating": {
            "type": "number",
            "format": "float"
          },
          "coordinates": {
            "$ref": "#/components/schemas/Coordinates"
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "phone": {
            "type": "string"
          },
          "display_phone": {
            "type": "string"
          },
          "distance": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "alias": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Coordinates": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "address3": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "display_address": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "center": {
            "$ref": "#/components/schemas/Coordinates"
          }
        }
      },
      "ReviewsResponse": {
        "type": "object",
        "properties": {
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Review"
            }
          },
          "total": {
            "type": "integer"
          },
          "possible_languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "time_created": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "profile_url": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AutocompleteResponse": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Term"
            }
          },
          "businesses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AutocompleteBusiness"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          }
        }
      },
      "Term": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "AutocompleteBusiness": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}