{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoom API",
    "description": "API for interacting with Zoom's video conferencing platform",
    "version": "2.0.0",
    "contact": {
      "name": "Zoom Support",
      "url": "https://support.zoom.us/hc/en-us",
      "email": "support@zoom.us"
    }
  },
  "servers": [
    {
      "url": "https://api.zoom.us/v2"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "List users",
        "description": "List all users on your account",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "pending"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 300
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a user",
        "description": "Create a new user on your account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "Get a user",
        "description": "Retrieve a user's information",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a user",
        "description": "Update a user's information",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "User updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "description": "Delete a user from your account",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted successfully"
          }
        }
      }
    },
    "/meetings": {
      "get": {
        "summary": "List meetings",
        "description": "List all meetings for a user",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "live",
                "upcoming"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a meeting",
        "description": "Create a new meeting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeetingCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meeting created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meeting"
                }
              }
            }
          }
        }
      }
    },
    "/meetings/{meetingId}": {
      "get": {
        "summary": "Get a meeting",
        "description": "Retrieve a meeting's information",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meeting"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a meeting",
        "description": "Update a meeting's information",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeetingUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Meeting updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete a meeting",
        "description": "Delete a meeting",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting deleted successfully"
          }
        }
      }
    },
    "/webinars": {
      "get": {
        "summary": "List webinars",
        "description": "List all webinars for a user",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebinarList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a webinar",
        "description": "Create a new webinar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebinarCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webinar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webinar"
                }
              }
            }
          }
        }
      }
    },
    "/webinars/{webinarId}": {
      "get": {
        "summary": "Get a webinar",
        "description": "Retrieve a webinar's information",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webinar"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a webinar",
        "description": "Update a webinar's information",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebinarUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Webinar updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete a webinar",
        "description": "Delete a webinar",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webinar deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "pmi": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "verified": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_login_time": {
            "type": "string",
            "format": "date-time"
          },
          "language": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": [
          "action",
          "user_info"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "create",
              "autoCreate",
              "custCreate",
              "ssoCreate"
            ]
          },
          "user_info": {
            "type": "object",
            "required": [
              "email",
              "type",
              "first_name",
              "last_name"
            ],
            "properties": {
              "email": {
                "type": "string"
              },
              "type": {
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3
                ]
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "pmi": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "UserList": {
        "type": "object",
        "properties": {
          "page_count": {
            "type": "integer"
          },
          "page_number": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "Meeting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "join_url": {
            "type": "string"
          },
          "agenda": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "MeetingCreate": {
        "type": "object",
        "required": [
          "topic",
          "type",
          "start_time",
          "duration"
        ],
        "properties": {
          "topic": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              8
            ]
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "agenda": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "MeetingUpdate": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              8
            ]
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "agenda": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "MeetingList": {
        "type": "object",
        "properties": {
          "page_count": {
            "type": "integer"
          },
          "page_number": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          },
          "meetings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meeting"
            }
          }
        }
      },
      "Webinar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "join_url": {
            "type": "string"
          },
          "agenda": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "WebinarCreate": {
        "type": "object",
        "required": [
          "topic",
          "type",
          "start_time",
          "duration"
        ],
        "properties": {
          "topic": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "enum": [
              5,
              6,
              9
            ]
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "agenda": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "WebinarUpdate": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "enum": [
              5,
              6,
              9
            ]
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "agenda": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "WebinarList": {
        "type": "object",
        "properties": {
          "page_count": {
            "type": "integer"
          },
          "page_number": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_records": {
            "type": "integer"
          },
          "webinars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webinar"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://zoom.us/oauth/authorize",
            "tokenUrl": "https://zoom.us/oauth/token",
            "scopes": {
              "user:read": "Read user's profile information",
              "user:write": "Edit user's profile information",
              "meeting:read": "View user's meetings",
              "meeting:write": "Create and edit user's meetings",
              "webinar:read": "View user's webinars",
              "webinar:write": "Create and edit user's webinars"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ]
}